In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

t_login_path      = '../input/t_login.csv'
t_login_test_path = '../input/t_login_test.csv'
t_trade_path      = '../input/t_trade.csv'
t_trade_test_path = '../input/t_trade_test.csv'
t_trade2_path      = '../input/trade/trade_2_login.csv'
t_trade2_test_login_path = '../input/trade/t_trade_test_2_login.csv'
# t_login_train = pd.read_csv(t_login_path     )  
# t_login_test  = pd.read_csv(t_login_test_path)
# t_trade_train = pd.read_csv(t_trade_path     )
# t_trade_test  = pd.read_csv(t_trade_test_path)

In [2]:
#log_id,id转换为字符串
loginData=pd.read_csv(t_login_path,dtype={'log_id':str,'id':str})
loginTestData=pd.read_csv(t_login_test_path,dtype={'log_id':str,'id':str})
tradeData=pd.read_csv(t_trade2_path,dtype={'id':str,'login_id':str})
tradeTestData=pd.read_csv(t_trade2_test_login_path,dtype={'id':str,'login_id':str})
loginTestData=loginTestData.append(loginData)

In [10]:
tradeData.rename(columns={'login_id':'log_id'},inplace=True)
tradeData

        rowkey                   time      id  is_risk               log_id
0            3  2015-01-01 00:00:41.0   27863        0                  NaN
1            6  2015-01-01 00:00:46.0  115201        0                  NaN
2           13  2015-01-01 00:01:02.0  143711        0                  NaN
3           32  2015-01-01 00:03:00.0  172699        0                  NaN
4           43  2015-01-01 00:03:52.0   53265        0                  NaN
5           67  2015-01-01 00:05:51.0   18231        0                  NaN
6           94  2015-01-01 00:10:12.0  147174        0                  NaN
7           98  2015-01-01 00:10:48.0  141674        0                  NaN
8          116  2015-01-01 00:13:16.0  105324        0                  NaN
9          147  2015-01-01 00:19:07.0  168749        0                  NaN
10         198  2015-01-01 00:25:51.0  139034        0                  NaN
11         282  2015-01-01 00:48:11.0  157472        0     8073763129665082
12         287  2015-01-01 00:49:40.0  144195        0                  NaN
13         293  2015-01-01 00:50:41.0  164198        0      666123372684626
14         320  2015-01-01 00:58:28.0  115201        0                  NaN
15         343  2015-01-01 01:05:47.0   87482        0      710878559931975
16         344  2015-01-01 01:05:55.0   64543        0     5972875147058808
17         380  2015-01-01 01:17:51.0   53933        0                  NaN
18         393  2015-01-01 01:22:20.0  174789        0                  NaN
19         419  2015-01-01 01:28:08.0  162466        0                  NaN
20         440  2015-01-01 01:40:30.0   24002        0                  NaN
21         464  2015-01-01 01:48:43.0   59616        0                  NaN
22         472  2015-01-01 01:51:10.0  120026        0                  NaN
23         476  2015-01-01 01:52:28.0  120026        0                  NaN
24         478  2015-01-01 01:52:39.0   30357        0                  NaN
25         503  2015-01-01 02:06:44.0   48831        0     8429434754433884
26         506  2015-01-01 02:08:51.0   61579        0                  NaN
27         528  2015-01-01 02:33:32.0   85435        0                  NaN
28         536  2015-01-01 02:39:07.0   72922        0                  NaN
29         555  2015-01-01 03:02:01.0   18138        1     5175043253945576
...        ...                    ...     ...      ...                  ...
132689  950365  2015-06-30 22:31:39.0  168845        0    32342634235265133
132690  950366  2015-06-30 22:31:46.0   34934        0  0009129903077470525
132691  950387  2015-06-30 22:35:40.0  116080        0     4659248884217494
132692  950401  2015-06-30 22:37:52.0   64345        0     6530917879889501
132693  950418  2015-06-30 22:40:05.0   69954        0     8921058969001608
132694  950433  2015-06-30 22:43:32.0  158245        0    29552109329278253
132695  950461  2015-06-30 22:49:28.0   78179        0     9064315508531161
132696  950495  2015-06-30 22:55:56.0  159008        0     2571418350663919
132697  950512  2015-06-30 22:58:03.0   32497        0     7029858065487775
132698  950527  2015-06-30 22:59:17.0   65838        0  0026240628001990007
132699  950532  2015-06-30 23:00:55.0   48280        0      857385525204737
132700  950534  2015-06-30 23:01:41.0   15112        0    10043019497288075
132701  950536  2015-06-30 23:02:27.0   57462        0    31514058917187016
132702  950559  2015-06-30 23:09:30.0   57462        0    31514058917187016
132703  950565  2015-06-30 23:10:44.0  119417        0    42486898146758945
132704  950573  2015-06-30 23:14:41.0   82440        0    49307410266542095
132705  950585  2015-06-30 23:17:56.0  152510        0    06438580819304063
132706  950587  2015-06-30 23:18:12.0  152510        0    06438580819304063
132707  950599  2015-06-30 23:19:17.0   70824        0    42645546696757397
132708  950615  2015-06-30 23:21:39.0  144435        0     8075489787058088
132709  950648  2015-06-30 23:32:04.0   92497        0     5145897545479122
132710  950654  2015-06-30 23:32:48.0   82440        0    49307410266542095
132711  950664  2015-06-30 23:35:42.0   93970        0    25266192668756204
132712  950665  2015-06-30 23:35:43.0   93970        0    25266192668756204
132713  950667  2015-06-30 23:36:07.0   49360        0     2756861225960412
132714  950697  2015-06-30 23:45:17.0   39176        0     3174092056027499
132715  950703  2015-06-30 23:46:07.0   61280        0      763439580729896
132716  950714  2015-06-30 23:49:32.0   72429        0     4665831126357872
132717  950720  2015-06-30 23:51:08.0  106040        0    06025337555329402
132718  950727  2015-06-30 23:53:19.0   72429        0     4665831126357872

[132719 rows x 5 columns]

In [9]:
tradeData2 = pd.merge(tradeData,loginData[['log_id','time']],left_on='login_id',right_on='log_id',how='inner')
tradeData2

,rowkey,time_x,id,is_risk,login_id,log_id,time_y
0,282,2015-01-01 00:48:11.0,157472,0,8073763129665082,8073763129665082,2015-01-01 00:26:18
1,293,2015-01-01 00:50:41.0,164198,0,666123372684626,666123372684626,2015-01-01 00:20:34
2,41366,2015-01-07 22:36:28.0,164198,0,666123372684626,666123372684626,2015-01-01 00:20:34
3,343,2015-01-01 01:05:47.0,87482,0,710878559931975,710878559931975,2015-01-01 01:02:57
4,4839,2015-01-01 21:32:31.0,87482,0,710878559931975,710878559931975,2015-01-01 01:02:57
5,344,2015-01-01 01:05:55.0,64543,0,5972875147058808,5972875147058808,2015-01-01 00:56:05
6,503,2015-01-01 02:06:44.0,48831,0,8429434754433884,8429434754433884,2015-01-01 01:51:18
7,555,2015-01-01 03:02:01.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
8,560,2015-01-01 03:03:24.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
9,564,2015-01-01 03:05:36.0,18138,0,5175043253945576,5175043253945576,2015-01-01 02:59:24
10,566,2015-01-01 03:06:38.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
11,576,2015-01-01 03:18:17.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
12,557,2015-01-01 03:02:31.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
13,561,2015-01-01 03:04:16.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
14,563,2015-01-01 03:05:14.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
15,571,2015-01-01 03:16:36.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
16,572,2015-01-01 03:16:51.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
17,573,2015-01-01 03:17:30.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
18,574,2015-01-01 03:17:31.0,18138,1,5175043253945576,5175043253945576,2015-01-01 02:59:24
19,700,2015-01-01 07:13:31.0,107099,0,3772364376713282,3772364376713282,2015-01-01 06:56:47
20,703,2015-01-01 07:14:46.0,107099,0,3772364376713282,3772364376713282,2015-01-01 06:56:47
21,705,2015-01-01 07:19:05.0,107099,0,3772364376713282,3772364376713282,2015-01-01 06:56:47
22,714,2015-01-01 07:27:00.0,107099,0,3772364376713282,3772364376713282,2015-01-01 06:56:47
23,6184,2015-01-02 08:32:55.0,107099,0,3772364376713282,3772364376713282,2015-01-01 06:56:47
24,6359,2015-01-02 09:16:30.0,107099,0,3772364376713282,3772364376713282,2015-01-01 06:56:47
25,699,2015-01-01 07:12:48.0,107099,0,3772364376713282,3772364376713282,2015-01-01 06:56:47
26,6204,2015-01-02 08:37:02.0,107099,0,3772364376713282,3772364376713282,2015-01-01 06:56:47
27,768,2015-01-01 07:57:25.0,173794,0,6070523618967809,6070523618967809,2015-01-01 07:35:24
28,811,2015-01-01 08:16:05.0,9739,0,15907653802580923,15907653802580923,2015-01-01 08:11:02
29,872,2015-01-01 08:38:55.0,85701,0,2643007387147701,2643007387147701,2015-01-01 08:37:32
...,...,...,...,...,...,...,...
121170,950142,2015-06-30 21:55:10.0,148253,0,010757598215293984,010757598215293984,2015-06-28 15:59:29
121171,950150,2015-06-30 21:56:28.0,124629,0,5923295389402349,5923295389402349,2015-06-30 21:48:54
121172,950159,2015-06-30 21:56:58.0,60241,0,8025732544692418,8025732544692418,2015-06-28 17:18:43
121173,950192,2015-06-30 22:01:26.0,6270,0,8072365175787117,8072365175787117,2015-06-30 21:54:09
121174,950199,2015-06-30 22:02:29.0,67830,0,5801172664502933,5801172664502933,2015-06-30 22:01:17
121175,950221,2015-06-30 22:06:16.0,152366,0,19759001058722292,19759001058722292,2015-06-30 22:03:38
121176,950290,2015-06-30 22:19:24.0,147970,0,6875652798534331,6875652798534331,2015-06-21 22:19:21
121177,950344,2015-06-30 22:28:51.0,88098,0,9532536123938931,9532536123938931,2015-06-25 11:25:20
121178,950359,2015-06-30 22:30:28.0,76127,0,3466840155434797,3466840155434797,2015-06-26 23:34:42
121179,950365,2015-06-30 22:31:39.0,168845,0,32342634235265133,32342634235265133,2015-06-24 16:39:52
121180,950366,2015-06-30 22:31:46.0,34934,0,0009129903077470525,0009129903077470525,2015-06-25 17:16:26
121181,950387,2015-06-30 22:35:40.0,116080,0,4659248884217494,4659248884217494,2015-06-30 21:21:52
121182,950401,2015-06-30 22:37:52.0,64345,0,6530917879889501,6530917879889501,2015-06-23 11:41:51
121183,950418,2015-06-30 22:40:05.0,69954,0,8921058969001608,8921058969001608,2015-06-08 20:36:32
121184,950461,2015-06-30 22:49:28.0,78179,0,9064315508531161,9064315508531161,2015-05-08 17:12:27
121185,950512,2015-06-30 22:58:03.0,32497,0,7029858065487775,7029858065487775,2015-06-30 19:23:27
121186,950527,2015-06-30 22:59:17.0,65838,0,0026240628001990007,0026240628001990007,2015-06-30 17:11:12
121187,950532,2015-06-30 23:00:55.0,48280,0,857385525204737,857385525204737,2015-06-30 22:24:52
121188,950534,2015-06-30 23:01:41.0,15112,0,10043019497288075,10043019497288075,2015-06-27 15:47:43
121189,950585,2015-06-30 23:17:56.0,152510,0,06438580819304063,06438580819304063,2015-06-30 23:14:46
121190,950587,2015-06-30 23:18:12.0,152510,0,06438580819304063,06438580819304063,2015-06-30 23:14:46
121191,950599,2015-06-30 23:19:17.0,70824,0,42645546696757397,42645546696757397,2015-06-20 16:01:11
121192,950615,2015-06-30 23:21:39.0,144435,0,8075489787058088,8075489787058088,2015-06-23 08:56:50
121193,950664,2015-06-30 23:35:42.0,93970,0,25266192668756204,25266192668756204,2015-06-30 22:17:14
121194,950665,2015-06-30 23:35:43.0,93970,0,25266192668756204,25266192668756204,2015-06-30 22:17:14
121195,950697,2015-06-30 23:45:17.0,39176,0,3174092056027499,3174092056027499,2015-06-30 23:36:01
121196,950703,2015-06-30 23:46:07.0,61280,0,763439580729896,763439580729896,2015-06-17 11:52:46
121197,950714,2015-06-30 23:49:32.0,72429,0,4665831126357872,4665831126357872,2015-06-29 11:59:07
121198,950727,2015-06-30 23:53:19.0,72429,0,4665831126357872,4665831126357872,2015-06-29 11:59:07
121199,950720,2015-06-30 23:51:08.0,106040,0,06025337555329402,06025337555329402,2015-06-29 12:38:16

In [12]:
tradeData3 = pd.merge(tradeData,loginData[['log_id','time']],on='log_id',how='left')
tradeData3.dropna(inplace=True)
tradeData3

,rowkey,time_x,id,is_risk,log_id,time_y
11,282,2015-01-01 00:48:11.0,157472,0,8073763129665082,2015-01-01 00:26:18
13,293,2015-01-01 00:50:41.0,164198,0,666123372684626,2015-01-01 00:20:34
15,343,2015-01-01 01:05:47.0,87482,0,710878559931975,2015-01-01 01:02:57
16,344,2015-01-01 01:05:55.0,64543,0,5972875147058808,2015-01-01 00:56:05
25,503,2015-01-01 02:06:44.0,48831,0,8429434754433884,2015-01-01 01:51:18
29,555,2015-01-01 03:02:01.0,18138,1,5175043253945576,2015-01-01 02:59:24
30,560,2015-01-01 03:03:24.0,18138,1,5175043253945576,2015-01-01 02:59:24
31,564,2015-01-01 03:05:36.0,18138,0,5175043253945576,2015-01-01 02:59:24
32,566,2015-01-01 03:06:38.0,18138,1,5175043253945576,2015-01-01 02:59:24
34,576,2015-01-01 03:18:17.0,18138,1,5175043253945576,2015-01-01 02:59:24
41,700,2015-01-01 07:13:31.0,107099,0,3772364376713282,2015-01-01 06:56:47
42,703,2015-01-01 07:14:46.0,107099,0,3772364376713282,2015-01-01 06:56:47
43,705,2015-01-01 07:19:05.0,107099,0,3772364376713282,2015-01-01 06:56:47
45,714,2015-01-01 07:27:00.0,107099,0,3772364376713282,2015-01-01 06:56:47
48,768,2015-01-01 07:57:25.0,173794,0,6070523618967809,2015-01-01 07:35:24
56,811,2015-01-01 08:16:05.0,9739,0,15907653802580923,2015-01-01 08:11:02
60,872,2015-01-01 08:38:55.0,85701,0,2643007387147701,2015-01-01 08:37:32
61,910,2015-01-01 08:50:32.0,115803,0,31241323524300046,2015-01-01 08:49:36
65,970,2015-01-01 09:03:33.0,50710,0,9557195529399882,2015-01-01 07:07:25
67,1007,2015-01-01 09:09:46.0,6461,0,7360917662350153,2015-01-01 08:57:17
72,1071,2015-01-01 09:21:48.0,147461,0,008351556714862984,2015-01-01 00:06:02
73,1079,2015-01-01 09:23:38.0,147461,0,008351556714862984,2015-01-01 00:06:02
75,1110,2015-01-01 09:30:16.0,42060,0,7304242234912197,2015-01-01 09:22:44
79,1195,2015-01-01 09:52:22.0,32727,0,2488264580494861,2015-01-01 09:45:44
80,1196,2015-01-01 09:52:24.0,32727,0,2488264580494861,2015-01-01 09:45:44
82,1326,2015-01-01 10:10:35.0,98117,0,8539616961618889,2015-01-01 10:05:34
87,1348,2015-01-01 10:13:14.0,65489,1,7729123589679643,2015-01-01 10:07:46
90,1369,2015-01-01 10:16:46.0,65489,1,7729123589679643,2015-01-01 10:07:46
92,1410,2015-01-01 10:20:45.0,12816,0,2873308300305807,2015-01-01 09:49:25
94,1445,2015-01-01 10:25:08.0,30798,0,1746405356294788,2015-01-01 10:22:43
...,...,...,...,...,...,...
132689,950365,2015-06-30 22:31:39.0,168845,0,32342634235265133,2015-06-24 16:39:52
132690,950366,2015-06-30 22:31:46.0,34934,0,0009129903077470525,2015-06-25 17:16:26
132691,950387,2015-06-30 22:35:40.0,116080,0,4659248884217494,2015-06-30 21:21:52
132692,950401,2015-06-30 22:37:52.0,64345,0,6530917879889501,2015-06-23 11:41:51
132693,950418,2015-06-30 22:40:05.0,69954,0,8921058969001608,2015-06-08 20:36:32
132694,950433,2015-06-30 22:43:32.0,158245,0,29552109329278253,2015-06-18 08:49:08
132695,950461,2015-06-30 22:49:28.0,78179,0,9064315508531161,2015-05-08 17:12:27
132696,950495,2015-06-30 22:55:56.0,159008,0,2571418350663919,2015-06-27 17:57:47
132697,950512,2015-06-30 22:58:03.0,32497,0,7029858065487775,2015-06-30 19:23:27
132698,950527,2015-06-30 22:59:17.0,65838,0,0026240628001990007,2015-06-30 17:11:12
132699,950532,2015-06-30 23:00:55.0,48280,0,857385525204737,2015-06-30 22:24:52
132700,950534,2015-06-30 23:01:41.0,15112,0,10043019497288075,2015-06-27 15:47:43
132701,950536,2015-06-30 23:02:27.0,57462,0,31514058917187016,2015-01-27 00:44:40
132702,950559,2015-06-30 23:09:30.0,57462,0,31514058917187016,2015-01-27 00:44:40
132703,950565,2015-06-30 23:10:44.0,119417,0,42486898146758945,2015-06-20 23:50:33
132704,950573,2015-06-30 23:14:41.0,82440,0,49307410266542095,2015-06-24 10:02:55
132705,950585,2015-06-30 23:17:56.0,152510,0,06438580819304063,2015-06-30 23:14:46
132706,950587,2015-06-30 23:18:12.0,152510,0,06438580819304063,2015-06-30 23:14:46
132707,950599,2015-06-30 23:19:17.0,70824,0,42645546696757397,2015-06-20 16:01:11
132708,950615,2015-06-30 23:21:39.0,144435,0,8075489787058088,2015-06-23 08:56:50
132709,950648,2015-06-30 23:32:04.0,92497,0,5145897545479122,2015-06-03 21:08:45
132710,950654,2015-06-30 23:32:48.0,82440,0,49307410266542095,2015-06-24 10:02:55
132711,950664,2015-06-30 23:35:42.0,93970,0,25266192668756204,2015-06-30 22:17:14
132712,950665,2015-06-30 23:35:43.0,93970,0,25266192668756204,2015-06-30 22:17:14
132713,950667,2015-06-30 23:36:07.0,49360,0,2756861225960412,2015-03-06 22:35:38
132714,950697,2015-06-30 23:45:17.0,39176,0,3174092056027499,2015-06-30 23:36:01
132715,950703,2015-06-30 23:46:07.0,61280,0,763439580729896,2015-06-17 11:52:46
132716,950714,2015-06-30 23:49:32.0,72429,0,4665831126357872,2015-06-29 11:59:07
132717,950720,2015-06-30 23:51:08.0,106040,0,06025337555329402,2015-06-29 12:38:16
132718,950727,2015-06-30 23:53:19.0,72429,0,4665831126357872,2015-06-29 11:59:07

In [8]:
loginData[loginData['id'] == '64345']

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
34449,9114412418360605,2000.0,513938,2,1177161,211,1,1.420680e+09,3,64345,False,False,2015-01-08 09:19:32
34450,47113847566108347,2000.0,513938,2,1177161,211,1,1.420558e+09,3,64345,False,False,2015-01-06 23:25:19
34488,20614859552940756,3000.0,513938,2,793335,211,1,1.421838e+09,3,64345,False,False,2015-01-21 18:53:45
53262,2256347035456483,7000.0,513938,2,551255,211,1,1.434968e+09,3,64345,False,False,2015-06-22 18:05:55
53263,9152737890796209,5000.0,37235,2,551255,211,1,1.434767e+09,3,64345,False,False,2015-06-20 10:29:33
53264,44726429004985957,6000.0,37235,2,551255,211,1,1.434770e+09,3,64345,False,False,2015-06-20 11:10:37
53265,3284535959797963,8000.0,37235,2,551255,211,1,1.434821e+09,3,64345,False,False,2015-06-21 01:16:27
53266,6530917879889501,6000.0,216358,2,551255,211,1,1.435031e+09,3,64345,False,False,2015-06-23 11:41:51
68961,3538241686568878,6000.0,513938,2,482908,211,1,1.433334e+09,3,64345,False,False,2015-06-03 20:16:25
85415,8362769569488657,8000.0,216358,2,1149869,211,1,1.432024e+09,3,64345,False,False,2015-05-19 16:19:14
95628,6769797712047606,10000.0,538107,2,1086358,234,1,1.430732e+09,3,64345,False,False,2015-05-04 17:37:56
100711,7405266573455385,2000.0,513938,2,880924,402,1,1.421333e+09,3,64345,False,False,2015-01-15 22:37:20
131307,7187366355861545,4000.0,513938,2,1280947,211,1,1.421039e+09,3,64345,False,False,2015-01-12 12:59:01
182434,6840147695143687,8000.0,847770,2,66661,211,1,1.430285e+09,3,64345,False,False,2015-04-29 13:26:32
210417,2554121639576422,9000.0,513938,2,624592,211,1,1.429525e+09,3,64345,False,False,2015-04-20 18:21:05
210420,8297042171532029,15000.0,538107,2,115618,211,1,1.428845e+09,3,64345,False,False,2015-04-12 21:21:33
214073,6248443999609588,3000.0,513938,2,1506800,402,1,1.421483e+09,3,64345,False,False,2015-01-17 16:30:32
214074,2363179151781023,3000.0,513938,2,385659,402,1,1.421475e+09,3,64345,False,False,2015-01-17 14:05:51
214075,2972964859360212,3000.0,513938,2,385659,402,1,1.421476e+09,3,64345,False,False,2015-01-17 14:28:25
228716,048425401271700474,8000.0,692579,2,8452,211,1,1.424699e+09,3,64345,False,False,2015-02-23 21:38:33
319491,6843806242762999,2000.0,513938,2,1151786,194,1,1.422926e+09,3,64345,False,False,2015-02-03 09:14:41
332391,14299799363362242,16000.0,513938,2,1396413,211,1,1.427093e+09,3,64345,False,False,2015-03-23 14:47:55
332394,6939554790811021,4000.0,513938,2,1177161,211,1,1.420694e+09,3,64345,False,False,2015-01-08 13:15:34
332395,0383691563932298,2000.0,513938,2,1177161,211,1,1.420769e+09,3,64345,False,False,2015-01-09 09:58:13
351258,5029102956784899,7000.0,216358,2,551255,211,1,1.434761e+09,3,64345,False,False,2015-06-20 08:39:48
366837,809573622713171,7000.0,513938,2,1158022,211,1,1.432531e+09,3,64345,False,False,2015-05-25 13:23:18
366838,07194854867522305,8000.0,513938,2,1158022,211,1,1.432512e+09,3,64345,False,False,2015-05-25 07:53:55
366839,35783243200834547,6000.0,513938,2,482908,211,1,1.433151e+09,3,64345,False,False,2015-06-01 17:37:59
398632,9907854417798052,3000.0,513938,2,976041,402,1,1.421373e+09,3,64345,False,False,2015-01-16 09:51:02
398633,86669409970444,2000.0,513938,2,976041,402,1,1.421408e+09,3,64345,False,False,2015-01-16 19:32:30
398634,6473952837338106,2000.0,513938,2,976041,402,1,1.421388e+09,3,64345,False,False,2015-01-16 13:52:39
428929,8250588493218112,6000.0,500559,2,1293126,211,1,1.433600e+09,3,64345,False,False,2015-06-06 22:20:51
428931,6390769251204309,7000.0,513938,2,107467,211,1,1.431762e+09,3,64345,False,False,2015-05-16 15:36:34
428932,8370363950625367,7000.0,513938,2,107467,211,1,1.431733e+09,3,64345,False,False,2015-05-16 07:43:24
428933,1953391357293799,6000.0,538107,2,107467,211,1,1.431695e+09,3,64345,False,False,2015-05-15 21:00:16
508099,8149379505823162,8000.0,513938,2,624592,211,1,1.429800e+09,3,64345,False,False,2015-04-23 22:39:15
508100,7239665542668158,6000.0,538107,2,115618,211,1,1.428298e+09,3,64345,False,False,2015-04-06 13:19:47
511780,42966545654644495,2000.0,513938,2,385659,402,1,1.421455e+09,3,64345,False,False,2015-01-17 08:35:14

In [4]:
#得到DataFrame中的无重复的id
def getUserIDFromDataFrame(dataFrame):
    return pd.DataFrame({'id':dataFrame['id'].unique()})

In [5]:
#得到登录中所用时间为整秒的计算
def getTimelongScale(loginData,test):
    #计算是否为整秒
    loginData['timeScale']=(loginData['timelong']%1000==0)
    #分别为整数 ，不为整数的次数
    gd=loginData['timeScale'].groupby([loginData['id'],loginData['timeScale']])
    tmp=gd.count().unstack().reset_index()
    tmp=tmp.fillna(0)
    test=pd.merge(tmp,test,on='id',how='inner')
#     print(test.head(2))
    del loginData['timeScale'],tmp
    return test

In [6]:
#得到某列的分组不同的个数
def getCountsByColumnName(loginData,test,columnName):
    num=loginData[['id',columnName]].groupby(loginData['id'])[columnName].nunique()
    t=pd.DataFrame(num)
    t.insert(0, 'id', num.index)
    t.columns=['id',columnName+'_Counts']
    test=pd.merge(t,test,on='id',how='inner')
    return test

In [7]:
#得到某列的分组平均值
def getMeanByColumnName(loginData,test,columnName):
    t=loginData[columnName].groupby(loginData['id'])
    t=t.mean().reset_index()
    t.columns=['id',columnName+'_Mean']
    test=pd.merge(t,test,on='id',how='inner')
    return test

In [8]:
#得到某列的分组最小值
def getMinByColumnName(loginData,test,columnName):
    t=loginData[columnName].groupby(loginData['id'])
    t=t.min().reset_index()
    t.columns=['id',columnName+'_min']
    test=pd.merge(t,test,on='id',how='inner')
    return test

In [9]:
#得到某列的分组最大值
def getMaxByColumnName(loginData,test,columnName):
    t=loginData[columnName].groupby(loginData['id'])
    t=t.max().reset_index()
    t.columns=['id',columnName+'_max']
    test=pd.merge(t,test,on='id',how='inner')
    return test

In [10]:
#得到某列的分组方差
def getVarByColumnName(loginData,test,columnName):
    t=loginData[columnName].groupby(loginData['id'])
    t=t.var().reset_index()
    t.columns=['id',columnName+'_var']
    test=pd.merge(t,test,on='id',how='inner')
    return test

In [11]:
#得到某列的分组标准差
def getStdByColumnName(loginData,test,columnName):
    t=loginData[columnName].groupby(loginData['id'])
    t=t.std().reset_index()
    t.columns=['id',columnName+'_std']
    test=pd.merge(t,test,on='id',how='inner')
    return test

In [12]:
#得到对登录result的处理
def getLoginResultCount(loginData,test):
    r31=loginData[loginData['result']!=1]
    t=r31['result'].groupby(r31['id'])
    t=t.count().reset_index()
    t.columns=['id','result_no1_Counts']
    test=pd.merge(t,test,on='id',how='inner')
    test=test.fillna(0)
    return test

In [13]:
from sklearn.preprocessing import OneHotEncoder
#处理交易数据
def tradeDataInit(tradeData,loginData):
    tradeData=tradeData.copy()
    #构建一个小时的
    tradeData['hours']=tradeData['time'].str.extract('\\s(\\d\\d):')
    tradeData['hours']=tradeData['hours'].astype('int')
    tradeData=pd.merge(tradeData,loginData[['log_id','time']],left_on='login_id',right_on='log_id',how='inner')
    del tradeData['log_id']
#     tradeData['hours']=
#     print(OneHotEncoder(sparse = False).fit_transform( tradeData[['hours']]))
    #交易时间
    tradeData['tx']=pd.to_datetime(tradeData['time_x'])
    #登录时间
    tradeData['ty']=pd.to_datetime(tradeData['time_y'])
    #交易时间和登录时间之间的差值
    tradeData['st']=(tradeData['tx']-tradeData['ty']).dt.seconds
    #每次交易时间的差
    tradeData['trade_time_sub']=tradeData.sort_values(by='tx').groupby('id')['tx'].diff()
    tradeData['trade_time_sub_day']=tradeData['trade_time_sub'].dt.days
    tradeData=getMaxByColumnName(tradeData,tradeData,'trade_time_sub_day')
    tradeData=getMeanByColumnName(tradeData,tradeData,'trade_time_sub_day')
    tradeData=getMinByColumnName(tradeData,tradeData,'trade_time_sub_day')
    tradeData=getStdByColumnName(tradeData,tradeData,'trade_time_sub_day')
    tradeData=getVarByColumnName(tradeData,tradeData,'trade_time_sub_day')
    #使用的比例
    tradeData=getTradeLoginColumScale(tradeData,loginData,'device')
    tradeData=getTradeLoginColumScale(tradeData,loginData,'city')
    
    del tradeData['tx'],tradeData['ty'],tradeData['time_y'],tradeData['login_id'],tradeData['trade_time_sub']
    tradeData.rename(columns={'time_x':'time'},inplace=True)
    return tradeData

In [14]:
def getTradeLoginColumScale(tradeData,loginData,cname):
    #计算cname列上分别使用的个数
    c_count=loginData[['id',cname,'log_id']].groupby(['id',cname]).count()
    c_count=c_count.reset_index()
    c_count.columns=['id',cname,cname+'_count_tmp']
    #使用的总个数
    c_sum=c_count[['id',cname+'_count_tmp']].groupby('id').sum().reset_index()
    c_sum.columns=['id',cname+'_count_sum']
    c=pd.merge(c_count,c_sum,on='id',how='inner')
    #使用的比例
    c[cname+'_scale']=c[cname+'_count_tmp']/c[cname+'_count_sum']
    del c[cname+'_count_tmp'],c[cname+'_count_sum']
    c=pd.merge(loginData[['log_id','id',cname]],c,on=['id',cname],how='inner')
    tradeData=pd.merge(tradeData,c[['log_id',cname+'_scale']],left_on='login_id',right_on='log_id',how='inner')
    del c,tradeData['log_id']
    return tradeData

In [15]:
#把处理后的登录数据和交易数据内连接
def createAllData(test,tradeData):
    tmp=pd.merge(test,tradeData,on='id',how='inner')
#     tmp=tmp.fillna(0)
#     print(tmp.info())
    return tmp

In [16]:
from sklearn.metrics import fbeta_score
#评估函数
def rocJdScore(*args):
    from sklearn import metrics
    return metrics.make_scorer(fbeta_score,beta=0.1, greater_is_better=True)(*args)

In [17]:
#生成训练用的pipline
def getPipe():
    # 下面，我要用逻辑回归拟合模型，并用标准化和PCA（30维->2维）对数据预处理，用Pipeline类把这些过程链接在一起
    from sklearn.preprocessing import StandardScaler
    from sklearn.decomposition import PCA
    from sklearn.linear_model import LogisticRegression
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.tree import DecisionTreeClassifier
    from sklearn.pipeline import Pipeline
    import xgboost as xgb
    from xgboost.sklearn import XGBClassifier
    #xgb的配置
    xgbFier = XGBClassifier(
             learning_rate =0.3,
             n_estimators=1000,
             max_depth=5,
             min_child_weight=1,
             gamma=0,
             subsample=0.8,
             colsample_bytree=0.8,
             objective= 'binary:logistic',
             nthread=2,
             scale_pos_weight=1,
             seed=27,
             silent=0
    )
    # 用StandardScaler和PCA作为转换器，LogisticRegression作为评估器
    estimators = [
#         ('scl', StandardScaler()), 
#                   ('pca', PCA(n_components=2)), 
#                    ('rf', RandomForestClassifier(random_state=1,
#                                                  max_depth= 50,
#                                                  min_samples_leaf= 3,
#                                                  min_samples_split= 10,
#                                                  n_estimators= 20,
#                                                 )),
#                   ('dtc',DecisionTreeClassifier(criterion='entropy')),
                                    ('xgb',xgbFier),
#                   ('lr', LogisticRegression())
                 ]
    # estimators = [ ('clf', RandomForestClassifier(random_state=1))]
    # Pipeline类接收一个包含元组的列表作为参数，每个元组的第一个值为任意的字符串标识符，
    #比如：我们可以通过pipe_lr.named_steps['pca']来访问PCA组件;第二个值为scikit-learn的转换器或评估器
    pipe_lr = Pipeline(estimators)
    return pipe_lr

In [18]:
#得到训练用的测试集元组（x，y）
def getTrainData(isUndersample=False):
    allData=transferData(loginData,tradeData)
    if(isUndersample):
        #进行undersample的处理
        number_records_fraud=len(allData[allData['is_risk']==1]) #有风险的个数
        fraud_indices=np.array(allData[allData['is_risk']==1].index) #有风险的index
        normal_indices=allData[allData['is_risk']==0].index
        random_normal_indices=np.random.choice(normal_indices,number_records_fraud,replace=False)
        random_normal_indices=np.array(random_normal_indices)
        under_sample_indices=np.concatenate([fraud_indices,random_normal_indices])
        allData=allData.iloc[under_sample_indices,:]
    
    x=allData.iloc[:,3:].values
    y=allData['is_risk'].values
    
    return x,y

In [19]:
#生成学习算法
def jdPipeFited(pipe_lr):    
    x,y=getTrainData(isUndersample=False)
    from sklearn.cross_validation import train_test_split
    # 拆分成训练集(80%)和测试集(20%)
#     x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=1) 
    
    pipe_lr.fit(x, y)
    return pipe_lr

In [ ]:
'''
你可以理解为短时间内变化城市、切换IP、更换设备、三更半夜多笔交易、不在常用设备登陆、不在常在城市登陆、短时间多次登陆的后续交易
'''
#生成训练数据
def transferData(loginData,tradeData):    
    lData=getUserIDFromDataFrame(loginData)
    #登录耗费时间段是否为整数
    lData=getTimelongScale(loginData,lData)
    lData=getMinByColumnName(loginData,lData,'timelong')
    lData=getMaxByColumnName(loginData,lData,'timelong')
    lData=getMeanByColumnName(loginData,lData,'timelong')
    lData=getVarByColumnName(loginData,lData,'timelong')
    lData=getStdByColumnName(loginData,lData,'timelong')
# #     #device的个数
    lData=getCountsByColumnName(loginData,lData,'device')
# #     #ip的个数
    lData=getCountsByColumnName(loginData,lData,'ip')
    lData=getCountsByColumnName(loginData,lData,'log_from')
    
    lData=getCountsByColumnName(loginData,lData,'type')
#     #城市的个数
    lData=getCountsByColumnName(loginData,lData,'city')
    #登录的次数
    lData=getCountsByColumnName(loginData,lData,'log_id')
    #平均值
#     lData=getMeanByColumnName(loginData,lData,'device')
#     lData=getMeanByColumnName(loginData,lData,'log_from')
#     lData=getMeanByColumnName(loginData,lData,'ip')
#     lData=getMeanByColumnName(loginData,lData,'city')
#     lData=getMeanByColumnName(loginData,lData,'result')
#     lData=getMeanByColumnName(loginData,lData,'type')
    #result的处理
    lData=getLoginResultCount(loginData,lData)
    
    tData=tradeData.copy()
    tData=tradeDataInit(tData,loginData)
#     tData=getLastSubTime(loginData,tData)
    allData=createAllData(lData,tData)
    del allData['time']
    # get a list of columns
    cols = list(allData)
    if 'is_risk' in allData.columns:
        cols.insert(0, cols.pop(cols.index('is_risk')))
    cols.insert(0, cols.pop(cols.index('rowkey')))
    
    allData = allData.ix[:, cols]
    print(allData.head(2))
    return allData

In [ ]:
%%time
#k-fold交叉验证
from sklearn.cross_validation import cross_val_score
pipe_lr=getPipe()
X_train,y_train=getTrainData(isUndersample=False)
#记录程序运行时间
import time 
start_time = time.time()
scores = cross_val_score(estimator=pipe_lr, X=X_train, y=y_train, cv=10, n_jobs=2,scoring=rocJdScore)
print(scores)
#整体预测
X_train,y_train=getTrainData(isUndersample=False)
pipe_lr
#输出运行时长
cost_time = time.time()-start_time
print("交叉验证 success!",'\n',"cost time:",cost_time,"(s)")

C:\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

   rowkey  is_risk      id  result_no1_Counts  log_id_Counts  city_Counts  \
0  745277        0  100002                  4              9            2
1  745744        0  100002                  4              9            2

   type_Counts  log_from_Counts  ip_Counts  device_Counts     ...      \
0            2                2          3              3     ...
1            2                2          3              3     ...

   trade_time_sub_day_var  trade_time_sub_day_std  trade_time_sub_day_min  \
0                     NaN                     NaN                     0.0
1                     NaN                     NaN                     0.0

   trade_time_sub_day_Mean  trade_time_sub_day_max  hours    st  \
0                      0.0                     0.0     22  1688
1                      0.0                     0.0     23   234

   trade_time_sub_day  device_scale  city_scale
0                 NaN      0.333333    0.777778
1                 0.0      0.333333    0.777778

[2 rows x 27 columns]

In [ ]:
#网格搜索实验
from sklearn.grid_search import GridSearchCV
parameters = {
#     'rf__n_estimators': (5, 10, 20, 50),
#     'rf__max_depth': (50, 150, 250),
#     'rf__min_samples_split': [10, 2, 3],
#     'rf__min_samples_leaf': (1, 2, 3),
    #xgb的参数
    'xgb__max_depth':(4,6),
    'xgb__learning_rate':(0.3,0.5)

}
pipe_lr=getPipe()
X_train,y_train=getTrainData()


#网格搜索
grid_search = GridSearchCV(pipe_lr, parameters, n_jobs=-1, verbose=1, scoring=rocJdScore)
grid_search.fit(X_train, y_train)

#获取最优参数
print('最佳效果：%0.3f' % grid_search.best_score_)
print('最优参数：')
best_parameters = grid_search.best_estimator_.get_params()
for param_name in sorted(parameters.keys()):
    print('\t%s= %r' % (param_name, best_parameters[param_name]))

# #预测以及分类器参数报告
# predictions = grid_search.predict(X_test)
# print(classification_report(y_test, predictions))

In [ ]:
%%time
#学习曲线
from sklearn.learning_curve import learning_curve

pipe_lr = getPipe()
X_train,y_train=getTrainData()
# train_sizes参数指定用于生成学习曲线的训练集数量，如果是分数指的是相对数量，整数指的是绝对数量
train_sizes, train_scores, test_scores = learning_curve(estimator=pipe_lr, X=X_train, y=y_train, train_sizes=np.linspace(0.1, 1.0, 10), cv=10,
                                                        n_jobs=2,scoring=rocJdScore)

train_mean = np.mean(train_scores, axis=1)
train_std = np.std(train_scores, axis=1)
test_mean = np.mean(test_scores, axis=1)
test_std = np.std(test_scores, axis=1)

plt.plot(train_sizes, train_mean, color='blue', marker='o', markersize=5, label='training accuracy')
plt.fill_between(train_sizes, train_mean + train_std, train_mean - train_std, alpha=0.15, color='blue')
plt.plot(train_sizes, test_mean, color='green', linestyle='--', marker='s', markersize=5, label='validation accuracy')
plt.fill_between(train_sizes, test_mean + test_std, test_mean - test_std, alpha=0.15, color='green')
plt.grid()
plt.xlabel('Number of training samples')
plt.ylabel('Accuracy')
plt.legend(loc='lower right')
plt.ylim([0.0, 1.0])
plt.show()

In [ ]:
%%time
#预测
pipe=getPipe()
pipe=jdPipeFited(pipe)
preData=transferData(loginTestData,tradeTestData)
x_pred=preData.iloc[:,2:].values
y_pred=pipe.predict(x_pred)
np.sum(y_pred)

In [ ]:
p=pd.DataFrame(y_pred)
subData=pd.DataFrame(preData['rowkey'])
subData['is_risk']=p
#之前用很多inner join，很多数据没有，都默认处理为没有风险
subData=pd.merge(tradeTestData[['rowkey']],subData,on='rowkey',how='left')
subData=subData.fillna(0)
subData['is_risk']=subData['is_risk'].astype('int')

In [ ]:
subData.to_csv('./sub.csv',header=False,index=False)