In [1]:
# -*- coding:urf-8 -*-
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Handle table like and matrices
import pandas as pd
import numpy as np

# Modeling Helper
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import missingno as msno

# Configure visualization
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 10,8

t_login_path      = '../input/t_login.csv'
t_login_test_path = '../input/t_login_test.csv'
t_trade_path      = '../input/t_trade.csv'
t_trade_test_path = '../input/t_trade_test.csv'


t_login_train = pd.read_csv(t_login_path     )  
t_login_test  = pd.read_csv(t_login_test_path)
t_trade_train = pd.read_csv(t_trade_path     )
t_trade_test  = pd.read_csv(t_trade_test_path)

In [2]:
t_login_train

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,2.618369e+15,5.0,879361,10,1026491,194,1,1.428642e+09,1,116825,True,False,2015-04-10 12:54:19
1,9.969739e+14,16124.0,835072,1,1026491,194,1,1.428809e+09,1,109987,False,False,2015-04-12 11:20:45
2,8.123343e+15,5.0,879361,10,1026491,194,1,1.427705e+09,1,116825,True,False,2015-03-30 16:38:20
3,3.265677e+14,6.0,879361,10,1026491,194,1,1.428309e+09,1,116825,True,False,2015-04-06 16:22:18
4,6.684659e+15,4.0,879361,10,1026491,194,1,1.428221e+09,1,116825,True,False,2015-04-05 15:55:01
5,8.828481e+15,5.0,736541,10,1026491,194,1,1.428220e+09,1,116825,True,False,2015-04-05 15:48:07
6,6.071119e+15,13000.0,979465,2,1026491,194,1,1.431851e+09,3,116825,False,False,2015-05-17 16:27:55
7,8.525176e+15,17627.0,765534,1,1026491,194,1,1.426584e+09,1,109987,False,False,2015-03-17 17:19:04
8,3.120145e+15,12000.0,12239,2,1026491,194,1,1.427789e+09,3,116825,False,False,2015-03-31 15:58:48
9,5.367905e+15,9146.0,556157,1,1026491,194,31,1.431252e+09,1,109987,False,False,2015-05-10 18:06:52
10,3.378803e+15,17409.0,556157,1,1026491,194,31,1.432434e+09,1,109987,False,False,2015-05-24 10:17:31
11,4.255256e+16,19036.0,556157,1,1026491,194,1,1.433059e+09,1,109987,False,False,2015-05-31 15:52:42
12,9.536343e+15,10772.0,556157,1,1026491,194,1,1.432526e+09,1,109987,False,False,2015-05-25 11:48:37
13,3.776181e+15,8806.0,556157,1,1026491,194,1,1.433139e+09,1,109987,False,False,2015-06-01 14:05:45
14,8.824729e+15,14313.0,556157,1,1026491,194,1,1.433749e+09,1,109987,False,False,2015-06-08 15:30:15
15,3.315790e+16,34567.0,65940,1,1026491,194,1,1.427511e+09,2,153075,False,False,2015-03-28 10:43:17
16,5.175846e+15,23279.0,65940,1,1026491,194,1,1.427794e+09,2,153075,False,False,2015-03-31 17:24:49
17,6.456778e+15,46437.0,65940,1,1026491,194,31,1.427441e+09,2,153075,False,False,2015-03-27 15:15:34
18,1.912764e+15,50524.0,65940,1,1026491,194,1,1.427441e+09,2,153075,False,False,2015-03-27 15:15:38
19,2.349293e+16,16881.0,65940,1,1026491,194,31,1.427441e+09,2,153075,False,False,2015-03-27 15:15:04
20,3.722752e+15,6175.0,65940,1,1026491,194,31,1.425894e+09,2,153075,False,False,2015-03-09 17:43:21
21,3.030546e+15,6.0,269930,10,1026491,194,1,1.434358e+09,1,20004,True,False,2015-06-15 16:51:41
22,1.308425e+16,5.0,123848,10,1173051,194,1,1.430723e+09,1,29583,True,False,2015-05-04 14:56:01
23,7.065851e+15,4.0,123848,10,1173051,194,1,1.431756e+09,1,29583,True,False,2015-05-16 14:00:40
24,8.592228e+15,4.0,123848,10,1173051,194,1,1.430818e+09,1,29583,True,False,2015-05-05 17:27:09
25,3.122594e+16,49994.0,885999,1,896353,7,1,1.426911e+09,3,165362,False,False,2015-03-21 12:02:19
26,4.427012e+16,8000.0,333364,2,357364,374,1,1.425610e+09,3,91358,False,False,2015-03-06 10:49:06
27,6.737734e+14,32201.0,65940,1,1498099,374,31,1.424416e+09,2,153075,False,False,2015-02-20 15:05:14
28,5.275490e+15,2000.0,37269,2,559463,374,1,1.421546e+09,3,18169,False,False,2015-01-18 09:51:41
29,7.227700e+15,20521.0,786,1,479587,374,31,1.422957e+09,3,22816,False,False,2015-02-03 17:53:53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595615,1.102321e+16,3000.0,381097,2,883920,194,1,1.428456e+09,1,59434,False,False,2015-04-08 09:14:08
595616,6.801987e+14,1000.0,656378,2,1503334,194,1,1.420730e+09,1,3608,False,False,2015-01-08 23:08:15
595617,3.643520e+16,1000.0,656378,2,1503334,194,31,1.420730e+09,1,3608,False,False,2015-01-08 23:07:20
595618,5.601965e+15,7000.0,922152,2,58962,194,1,1.425475e+09,3,4855,False,False,2015-03-04 21:15:04
595619,9.184832e+15,39814.0,152351,1,58962,194,1,1.429274e+09,2,47845,False,False,2015-04-17 20:29:28
595620,4.288803e+15,44568.0,152351,1,58962,194,31,1.424261e+09,2,47845,False,False,2015-02-18 20:02:33
595621,8.548634e+15,52085.0,152351,1,58962,194,1,1.424261e+09,2,47845,False,False,2015-02-18 20:02:41
595622,6.652598e+15,6000.0,35205,2,58962,194,1,1.429278e+09,2,47845,False,False,2015-04-17 21:35:02
595623,7.117072e+15,18362.0,739549,1,70873,194,1,1.430971e+09,2,47845,False,False,2015-05-07 11:50:04
595624,5.932818e+15,4000.0,978982,2,220117,194,6,1.424537e+09,1,65043,False,False,2015-02-22 00:42:35
595625,9.354748e+15,5000.0,978982,2,220117,194,1,1.424537e+09,1,65043,False,False,2015-02-22 00:42:44
595626,9.620718e+15,5000.0,837955,2,220117,194,1,1.424625e+09,1,65043,False,False,2015-02-23 01:06:41
595627,1.797260e+16,5000.0,837955,2,220117,194,1,1.424534e+09,1,65043,False,False,2015-02-21 23:59:16
595628,9.125529e+15,12757.0,524912,1,842768,194,1,1.434094e+09,1,155657,False,False,2015-06-12 15:30:06
595629,7.213388e+15,13942.0,524912,1,842768,194,1,1.434164e+09,1,155657,False,False,2015-06-13 10:46:55
595630,7.796428e+15,8546.0,267128,1,842768,194,1,1.431065e+09,3,120547,False,False,2015-05-08 14:07:22
595631,5.214387e+15,22274.0,267128,1,842768,194,31,1.430635e+09,3,120547,False,False,2015-05-03 14:39:07
595632,8.934624e+15,15821.0,267128,1,842768,194,31,1.430635e+09,3,120547,False,False,2015-05-03 14:39:00
595633,1.575974e+16,13803.0,267128,1,842768,194,1,1.430707e+09,3,120547,False,False,2015-05-04 10:29:48
595634,6.814851e+15,2090.0,835072,1,72445,194,1,1.426883e+09,3,150759,False,False,2015-03-21 04:30:29
595635,8.451034e+14,3682.0,143012,1,13489,194,1,1.423455e+09,2,100971,False,False,2015-02-09 12:04:10
595636,8.141103e+15,8816.0,756934,1,1156746,194,31,1.431741e+09,3,109592,False,False,2015-05-16 09:56:24
595637,4.600459e+16,14067.0,756934,1,1156746,194,1,1.431741e+09,3,109592,False,False,2015-05-16 09:56:29
595638,9.895350e+15,421413.0,779111,1,1093525,194,1,1.428140e+09,1,102528,False,False,2015-04-04 17:30:28
595639,7.844215e+15,9170.0,699172,1,1093525,194,1,1.427120e+09,1,102528,False,False,2015-03-23 22:13:55
595640,5.401465e+15,9651.0,699172,1,1093525,194,1,1.427288e+09,1,102528,False,False,2015-03-25 20:52:42
595641,2.518347e+16,1000.0,79033,2,996327,194,1,1.421664e+09,3,170341,False,False,2015-01-19 18:35:08
595642,7.586014e+15,4000.0,933936,2,1199330,258,1,1.429679e+09,1,159951,False,False,2015-04-22 13:09:40
595643,2.696305e+15,5.0,971125,10,676544,258,1,1.427530e+09,1,48673,True,False,2015-03-28 16:13:00
595644,8.623685e+15,5.0,971125,10,572035,258,1,1.423445e+09,1,48673,True,False,2015-02-09 09:25:06

In [3]:
t_login_test

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,1.955082e+16,7000.0,419819,2,1536093,238,1,1.436157e+09,3,5887,False,False,2015-07-06 12:23:45
1,9.716474e+15,16363.0,298355,1,715488,238,1,1.437054e+09,3,10909,False,False,2015-07-16 21:44:41
2,7.371385e+15,22379.0,298355,1,715488,238,1,1.437015e+09,3,10909,False,False,2015-07-16 10:46:41
3,9.642499e+13,27733.0,298355,1,646560,238,1,1.436795e+09,3,10909,False,False,2015-07-13 21:38:23
4,3.714001e+16,6242.0,747880,1,238942,238,1,1.437444e+09,1,151823,False,False,2015-07-21 10:02:49
5,4.718053e+16,8235.0,747880,1,238942,238,1,1.437443e+09,1,151823,False,False,2015-07-21 09:48:55
6,8.262328e+14,14784.0,747880,1,238942,238,1,1.437443e+09,1,151823,False,False,2015-07-21 09:48:13
7,4.831864e+16,8088.0,747880,1,238942,238,1,1.437444e+09,1,151823,False,False,2015-07-21 10:02:31
8,8.113491e+15,15911.0,747880,1,238942,238,1,1.437364e+09,1,151823,False,False,2015-07-20 11:40:19
9,8.692471e+15,7178.0,747880,1,238942,238,1,1.437390e+09,1,151823,False,False,2015-07-20 18:58:44
10,8.795230e+15,8242.0,747880,1,238942,238,31,1.437359e+09,1,151823,False,False,2015-07-20 10:19:00
11,6.768934e+15,11651.0,747880,1,238942,238,31,1.437364e+09,1,151823,False,False,2015-07-20 11:40:14
12,3.616443e+16,11998.0,747880,1,218404,238,1,1.436150e+09,1,151823,False,False,2015-07-06 10:35:11
13,3.134096e+16,8097.0,747880,1,218404,238,1,1.436238e+09,1,151823,False,False,2015-07-07 10:59:57
14,3.368293e+14,9484.0,402134,1,218404,238,1,1.436179e+09,1,151823,False,False,2015-07-06 18:42:47
15,5.072023e+15,16887.0,404743,1,197797,238,1,1.438264e+09,1,80628,False,False,2015-07-30 21:39:25
16,5.958057e+15,7000.0,854299,2,1219696,238,1,1.437131e+09,3,162425,False,False,2015-07-17 19:09:44
17,6.896718e+15,17399.0,127202,1,25444,238,1,1.437823e+09,2,171480,False,False,2015-07-25 19:24:46
18,8.133808e+15,7000.0,646499,2,808433,238,1,1.437825e+09,3,22731,False,False,2015-07-25 19:57:14
19,5.980062e+15,5839.0,138227,1,480158,238,1,1.437121e+09,2,42329,False,False,2015-07-17 16:17:14
20,3.900749e+16,11449.0,138227,1,41019,238,1,1.436668e+09,2,42329,False,False,2015-07-12 10:26:55
21,8.884552e+15,17290.0,498665,1,591593,238,1,1.435914e+09,1,90881,False,False,2015-07-03 16:57:23
22,3.595011e+15,14116.0,498665,1,591593,238,1,1.435915e+09,1,90881,False,False,2015-07-03 17:09:01
23,1.804752e+16,6000.0,389553,2,1504221,238,1,1.437928e+09,1,131298,False,False,2015-07-27 00:25:21
24,7.063686e+15,5000.0,389553,2,1504221,238,31,1.437928e+09,1,131298,False,False,2015-07-27 00:25:00
25,2.745415e+16,13803.0,545714,1,484207,238,1,1.436859e+09,3,16901,False,False,2015-07-14 15:34:24
26,4.434410e+16,20991.0,545714,1,484207,238,1,1.436865e+09,3,16901,False,False,2015-07-14 17:09:51
27,6.548236e+15,6175.0,545714,1,484207,238,1,1.436865e+09,3,16901,False,False,2015-07-14 17:07:25
28,5.614702e+15,7000.0,608332,2,264577,238,1,1.438158e+09,1,89321,False,False,2015-07-29 16:20:23
29,5.332707e+14,5000.0,160670,2,288337,238,1,1.436485e+09,3,127905,False,False,2015-07-10 07:31:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87718,1.431562e+16,5000.0,481308,2,1403602,237,31,1.437825e+09,3,102707,False,False,2015-07-25 19:54:34
87719,9.663906e+15,6000.0,481308,2,1403602,237,31,1.437825e+09,3,102707,False,False,2015-07-25 19:51:57
87720,5.312119e+14,30597.0,412616,1,344877,411,1,1.438306e+09,1,16222,False,False,2015-07-31 09:21:34
87721,6.464527e+15,3254.0,811383,1,1436710,411,1,1.437354e+09,1,39788,False,False,2015-07-20 09:02:56
87722,2.469072e+16,4295.0,811383,1,1436710,411,1,1.436250e+09,1,39788,False,False,2015-07-07 14:24:11
87723,1.282705e+16,2392.0,811383,1,1436710,411,1,1.436492e+09,1,39788,False,False,2015-07-10 09:36:44
87724,4.237218e+16,7451.0,811383,1,1436710,411,1,1.437380e+09,1,39788,False,False,2015-07-20 16:09:36
87725,8.089259e+15,6438.0,811383,1,1436710,411,1,1.435905e+09,1,39788,False,False,2015-07-03 14:26:40
87726,8.044334e+15,7759.0,811383,1,1436710,411,1,1.437386e+09,1,39788,False,False,2015-07-20 17:56:28
87727,7.157874e+15,3.0,330924,10,997687,237,1,1.435894e+09,1,45804,True,False,2015-07-03 11:31:32
87728,1.021709e+16,6000.0,83514,2,983518,404,31,1.436414e+09,1,8766,False,False,2015-07-09 11:49:40
87729,6.962649e+15,6000.0,83514,2,983518,404,1,1.436414e+09,1,8766,False,False,2015-07-09 11:50:10
87730,4.759764e+15,5000.0,83514,2,983518,404,22,1.436434e+09,1,8766,False,False,2015-07-09 17:25:28
87731,8.995560e+15,28510.0,150017,1,232639,44,1,1.436237e+09,3,171038,False,False,2015-07-07 10:36:40
87732,4.540716e+15,6275.0,112544,1,969919,44,1,1.437995e+09,1,129976,False,False,2015-07-27 19:01:41
87733,8.780627e+15,2691.0,410055,1,475267,44,1,1.438070e+09,2,116039,False,False,2015-07-28 15:50:38
87734,8.715883e+15,10000.0,223822,2,435862,44,1,1.438310e+09,3,10383,False,False,2015-07-31 10:32:11
87735,4.675587e+16,5365.0,807659,1,1260847,44,1,1.435888e+09,3,82140,False,False,2015-07-03 09:48:57
87736,2.494162e+15,4000.0,14241,2,520470,44,1,1.436833e+09,1,44686,False,False,2015-07-14 08:23:18
87737,2.793672e+15,16777.0,956166,1,415272,44,1,1.436661e+09,1,44686,False,False,2015-07-12 08:36:07
87738,9.132132e+14,13052.0,308347,1,342850,44,31,1.438316e+09,3,103125,False,False,2015-07-31 12:11:57
87739,7.463960e+14,22832.0,308347,1,342850,44,1,1.438316e+09,3,103125,False,False,2015-07-31 12:12:06
87740,4.812647e+16,5763.0,308347,1,342850,44,31,1.438317e+09,3,103125,False,False,2015-07-31 12:27:26
87741,3.499503e+15,9167.0,308347,1,342850,44,31,1.438317e+09,3,103125,False,False,2015-07-31 12:27:29
87742,1.332594e+16,5422.0,308347,1,342850,44,1,1.438318e+09,3,103125,False,False,2015-07-31 12:53:08
87743,5.698045e+15,5000.0,398622,2,165032,44,1,1.437202e+09,1,89469,False,False,2015-07-18 14:51:42
87744,9.917041e+15,5000.0,398622,2,165032,44,31,1.437202e+09,1,89469,False,False,2015-07-18 14:49:50
87745,2.910444e+16,8000.0,398622,2,165032,44,31,1.437202e+09,1,89469,False,False,2015-07-18 14:50:00
87746,2.169119e+16,2297.0,374320,1,1469192,44,1,1.436150e+09,2,163371,False,False,2015-07-06 10:30:02
87747,4.304828e+14,48682.0,564299,1,482010,44,1,1.437980e+09,3,118376,False,False,2015-07-27 14:45:01

In [4]:
t_trade_train

        rowkey                   time      id  is_risk
0            3  2015-01-01 00:00:41.0   27863        0
1            6  2015-01-01 00:00:46.0  115201        0
2           13  2015-01-01 00:01:02.0  143711        0
3           32  2015-01-01 00:03:00.0  172699        0
4           43  2015-01-01 00:03:52.0   53265        0
5           67  2015-01-01 00:05:51.0   18231        0
6           94  2015-01-01 00:10:12.0  147174        0
7           98  2015-01-01 00:10:48.0  141674        0
8          116  2015-01-01 00:13:16.0  105324        0
9          147  2015-01-01 00:19:07.0  168749        0
10         198  2015-01-01 00:25:51.0  139034        0
11         282  2015-01-01 00:48:11.0  157472        0
12         287  2015-01-01 00:49:40.0  144195        0
13         293  2015-01-01 00:50:41.0  164198        0
14         320  2015-01-01 00:58:28.0  115201        0
15         343  2015-01-01 01:05:47.0   87482        0
16         344  2015-01-01 01:05:55.0   64543        0
17         380  2015-01-01 01:17:51.0   53933        0
18         393  2015-01-01 01:22:20.0  174789        0
19         419  2015-01-01 01:28:08.0  162466        0
20         440  2015-01-01 01:40:30.0   24002        0
21         464  2015-01-01 01:48:43.0   59616        0
22         472  2015-01-01 01:51:10.0  120026        0
23         476  2015-01-01 01:52:28.0  120026        0
24         478  2015-01-01 01:52:39.0   30357        0
25         503  2015-01-01 02:06:44.0   48831        0
26         506  2015-01-01 02:08:51.0   61579        0
27         528  2015-01-01 02:33:32.0   85435        0
28         536  2015-01-01 02:39:07.0   72922        0
29         555  2015-01-01 03:02:01.0   18138        1
...        ...                    ...     ...      ...
132689  950365  2015-06-30 22:31:39.0  168845        0
132690  950366  2015-06-30 22:31:46.0   34934        0
132691  950387  2015-06-30 22:35:40.0  116080        0
132692  950401  2015-06-30 22:37:52.0   64345        0
132693  950418  2015-06-30 22:40:05.0   69954        0
132694  950433  2015-06-30 22:43:32.0  158245        0
132695  950461  2015-06-30 22:49:28.0   78179        0
132696  950495  2015-06-30 22:55:56.0  159008        0
132697  950512  2015-06-30 22:58:03.0   32497        0
132698  950527  2015-06-30 22:59:17.0   65838        0
132699  950532  2015-06-30 23:00:55.0   48280        0
132700  950534  2015-06-30 23:01:41.0   15112        0
132701  950536  2015-06-30 23:02:27.0   57462        0
132702  950559  2015-06-30 23:09:30.0   57462        0
132703  950565  2015-06-30 23:10:44.0  119417        0
132704  950573  2015-06-30 23:14:41.0   82440        0
132705  950585  2015-06-30 23:17:56.0  152510        0
132706  950587  2015-06-30 23:18:12.0  152510        0
132707  950599  2015-06-30 23:19:17.0   70824        0
132708  950615  2015-06-30 23:21:39.0  144435        0
132709  950648  2015-06-30 23:32:04.0   92497        0
132710  950654  2015-06-30 23:32:48.0   82440        0
132711  950664  2015-06-30 23:35:42.0   93970        0
132712  950665  2015-06-30 23:35:43.0   93970        0
132713  950667  2015-06-30 23:36:07.0   49360        0
132714  950697  2015-06-30 23:45:17.0   39176        0
132715  950703  2015-06-30 23:46:07.0   61280        0
132716  950714  2015-06-30 23:49:32.0   72429        0
132717  950720  2015-06-30 23:51:08.0  106040        0
132718  950727  2015-06-30 23:53:19.0   72429        0

[132719 rows x 4 columns]

In [5]:
t_trade_test

       rowkey                   time      id
0          24  2015-07-01 00:04:41.0   98066
1          37  2015-07-01 00:12:45.0  151688
2          45  2015-07-01 00:15:12.0   86468
3          46  2015-07-01 00:15:24.0   86468
4          48  2015-07-01 00:15:58.0   82720
5          49  2015-07-01 00:15:59.0   86468
6          53  2015-07-01 00:17:12.0    7738
7          54  2015-07-01 00:18:30.0  150401
8          57  2015-07-01 00:19:28.0   38756
9          65  2015-07-01 00:24:52.0  150931
10         66  2015-07-01 00:25:26.0  150931
11         74  2015-07-01 00:30:57.0   68343
12        102  2015-07-01 00:43:34.0   39976
13        121  2015-07-01 00:58:46.0  110796
14        126  2015-07-01 01:01:22.0  169284
15        127  2015-07-01 01:01:54.0  121419
16        141  2015-07-01 01:10:43.0  147851
17        162  2015-07-01 01:42:33.0   45184
18        163  2015-07-01 01:42:34.0   45184
19        194  2015-07-01 02:13:54.0  130491
20        216  2015-07-01 03:13:48.0   58551
21        217  2015-07-01 03:15:44.0  145665
22        234  2015-07-01 04:39:42.0  149778
23        250  2015-07-01 05:28:46.0   18788
24        251  2015-07-01 05:30:11.0   37279
25        255  2015-07-01 05:35:34.0   37279
26        256  2015-07-01 05:36:01.0   37279
27        262  2015-07-01 06:00:48.0  142483
28        306  2015-07-01 06:37:46.0   54793
29        311  2015-07-01 06:41:16.0   70439
...       ...                    ...     ...
17845  175943  2015-07-31 22:55:04.0   40068
17846  175980  2015-07-31 22:59:48.0   20713
17847  175983  2015-07-31 23:00:11.0   63388
17848  175985  2015-07-31 23:00:22.0  159008
17849  176002  2015-07-31 23:02:05.0   73272
17850  176011  2015-07-31 23:03:12.0   49464
17851  176012  2015-07-31 23:03:16.0   85583
17852  176020  2015-07-31 23:03:52.0  138192
17853  176029  2015-07-31 23:05:13.0  171105
17854  176031  2015-07-31 23:05:28.0    1086
17855  176044  2015-07-31 23:07:05.0  141953
17856  176057  2015-07-31 23:09:07.0  145704
17857  176070  2015-07-31 23:11:13.0  173862
17858  176073  2015-07-31 23:12:22.0  165831
17859  176087  2015-07-31 23:14:47.0   22563
17860  176091  2015-07-31 23:15:05.0   55776
17861  176093  2015-07-31 23:15:20.0   84290
17862  176100  2015-07-31 23:16:39.0   18097
17863  176106  2015-07-31 23:18:22.0   36795
17864  176109  2015-07-31 23:18:54.0   31696
17865  176116  2015-07-31 23:19:46.0   18097
17866  176149  2015-07-31 23:24:31.0   23927
17867  176154  2015-07-31 23:25:23.0   91163
17868  176176  2015-07-31 23:29:19.0   92356
17869  176190  2015-07-31 23:32:40.0  157816
17870  176212  2015-07-31 23:39:57.0   13337
17871  176231  2015-07-31 23:44:21.0  116533
17872  176243  2015-07-31 23:46:52.0   48369
17873  176271  2015-07-31 23:55:58.0    7677
17874  176288  2015-07-31 23:58:30.0  135870

[17875 rows x 3 columns]

#### 登陆时间差

In [6]:
t_login_train.sort_values(by=['id','time'],ascending=True,inplace = True)
t_login_train['time'] = pd.to_datetime(t_login_train['time'])
t_login_train.loc[:,'time_diff'] = t_login_train.groupby('id')['time'].diff(1)
t_login_train['time_diff'] = t_login_train['time_diff'].map(lambda x: x.total_seconds())
print '登陆时间小于10s的比例： ',t_login_train[t_login_train['time_diff'] < 10].shape[0] / (1.0 * t_login_train.shape[0])
t_login_train.to_csv('t_login_train.csv',index=False)

登陆时间小于10s的比例：  0.0976319787793

#### 交易时间差

In [10]:
trade = t_trade_train

In [12]:
trade = t_trade_train.copy()
trade['time'] = pd.to_datetime(t_login_train['time'])
trade.sort_values(by=['id','time'],ascending=True,inplace = True)
trade.loc[:,'trade_time_diff'] = trade.groupby('id')['time'].diff(1)
trade['trade_time_diff'] = trade['trade_time_diff'].map(lambda x: x.total_seconds())
trade.to_csv('trade.csv',index=False)

In [18]:
trade[trade['is_risk'] == 1]

        rowkey                time      id  is_risk  trade_time_diff
67102     7285 2015-01-25 15:20:16     134        1              NaN
67103     7314 2015-01-26 10:59:14     134        1          70738.0
3864     54042 2015-01-09 10:08:42     228        1              NaN
70473    54040 2015-01-17 10:24:00     228        1         692118.0
70767    58244 2015-01-18 13:57:19     228        1          99199.0
70472    54039 2015-01-20 10:08:37     228        1         159078.0
4183     58230 2015-02-14 09:52:41     228        1        2159044.0
70471    54037 2015-02-21 09:23:38     228        1         603057.0
70768    58245 2015-03-02 09:08:23     228        1         776685.0
3863     54041 2015-03-28 13:24:33     228        1        2261770.0
70762    58231 2015-03-30 08:58:54     228        1         156861.0
4184     58235 2015-04-11 08:18:08     228        1        1034354.0
3862     54036 2015-06-19 20:21:42     228        1        6005014.0
104028  518850 2015-04-16 17:30:41     547        1              NaN
105047  533230 2015-03-31 14:17:11     714        1              NaN
105046  533229 2015-06-04 23:03:02     714        1        1407894.0
105048  533238 2015-06-20 11:56:22     714        1        1342400.0
28758   394134 2015-02-07 09:52:43    1051        1              NaN
28757   394120 2015-03-01 11:14:12    1051        1        1905689.0
28755   394101 2015-05-02 22:26:22    1051        1        5397130.0
27092   369584 2015-01-24 03:35:27    1075        1              NaN
53872   759195 2015-01-11 07:36:10    1278        1              NaN
53869   759191 2015-01-30 13:09:29    1278        1        1661599.0
120221  759255 2015-02-07 09:54:42    1278        1         679513.0
53864   759113 2015-03-26 23:01:18    1278        1        4107996.0
53877   759282 2015-06-05 07:07:34    1278        1        6077176.0
107233  565842 2015-02-28 14:27:43    1282        1        1361120.0
43531   605836 2015-04-11 11:15:07    1291        1              NaN
107548  569966 2015-04-14 12:34:58    1291        1         263991.0
40995   569996 2015-05-10 12:55:45    1291        1        2247647.0
...        ...                 ...     ...      ...              ...
46591   649431 2015-03-31 15:55:50  175004        1        7164575.0
96988   415518 2015-06-16 23:05:47  175033        1              NaN
6365     86212 2015-01-04 11:14:32  175112        1              NaN
6364     86202 2015-03-15 13:18:23  175112        1        6055431.0
72982    86206 2015-05-01 09:31:06  175112        1        4047163.0
6355     86082 2015-06-06 09:15:59  175112        1        3109493.0
6352     86074 2015-06-18 07:26:03  175112        1        1030204.0
96738   412026 2015-01-12 03:10:45  175327        1              NaN
30095   412036 2015-03-19 19:43:21  175327        1        5761956.0
10379   139585 2015-06-21 15:54:58  175471        1         611118.0
77048   139588 2015-06-28 11:00:49  175471        1         587151.0
131482  931490 2015-01-02 11:35:23  175546        1              NaN
132382  945823 2015-01-08 19:42:06  175546        1         547603.0
132399  946040 2015-01-09 09:09:45  175546        1          48459.0
132398  946031 2015-01-09 09:09:59  175546        1             14.0
66257   945862 2015-03-03 16:43:51  175546        1        4606432.0
132386  945868 2015-03-21 11:23:00  175546        1        1535949.0
132389  945908 2015-03-24 20:30:40  175546        1         292060.0
66272   946034 2015-04-11 14:00:05  175546        1        1531765.0
66254   945832 2015-04-16 21:11:58  175546        1         457913.0
132405  946060 2015-05-01 21:26:03  175546        1        1296845.0
66244   945745 2015-05-10 22:42:37  175546        1         782194.0
66242   945729 2015-05-11 07:21:30  175546        1          31133.0
132400  946043 2015-05-15 18:08:51  175546        1         384441.0
66269   946002 2015-05-27 20:26:41  175546        1        1045070.0
66268   945995 2015-05-30 00:05:50  175546        1         185949.0
66266   945989 2015-06-17 20:41:28  175546        1        1629338.0
66271   946027 2015-06-18 17:49:09  175546        1          76061.0
65236   929989 2015-06-30 17:14:17  175546        1        1034708.0
131752  935086 2015-02-05 21:44:30  175795        1              NaN

[3643 rows x 5 columns]

In [20]:
t_login_train[t_login_train['id'] == 1051]

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time,time_diff
481281,1.310157e+16,109167.0,865631,1,270631,461,31,1.425821e+09,3,1051,False,False,2015-03-08 21:25:39,NaN
183570,5.067942e+15,135605.0,865631,1,270631,461,1,1.425821e+09,2,1051,False,False,2015-03-08 21:26:05,26.0
445916,7.619978e+14,24787.0,722921,1,414869,283,1,1.426208e+09,3,1051,False,False,2015-03-13 09:01:27,387322.0
148336,7.140739e+15,14163.0,722921,1,414869,283,31,1.426392e+09,3,1051,False,False,2015-03-15 12:05:46,183859.0
445915,1.915383e+16,23201.0,722921,1,414869,283,1,1.426392e+09,3,1051,False,False,2015-03-15 12:05:55,9.0
233426,2.282005e+16,65174.0,854010,1,383581,243,-2,1.426433e+09,3,1051,False,False,2015-03-15 23:22:37,40602.0
355781,2.071982e+16,21600.0,854010,1,149598,243,-2,1.426494e+09,3,1051,False,False,2015-03-16 16:14:57,60740.0
481292,5.489946e+15,18221.0,865631,1,1466526,461,31,1.426506e+09,2,1051,False,False,2015-03-16 19:39:03,12246.0
183574,2.886642e+16,28144.0,865631,1,1466526,461,31,1.426506e+09,2,1051,False,False,2015-03-16 19:39:13,10.0
183572,3.049134e+14,47985.0,865631,1,1466526,461,31,1.426506e+09,2,1051,False,False,2015-03-16 19:39:33,20.0
183575,4.939397e+16,58800.0,865631,1,1466526,461,31,1.426506e+09,2,1051,False,False,2015-03-16 19:39:44,11.0
481293,6.341008e+15,77544.0,865631,1,1466526,461,31,1.426506e+09,3,1051,False,False,2015-03-16 19:40:02,18.0
481290,6.004512e+14,87693.0,865631,1,1466526,461,31,1.426506e+09,3,1051,False,False,2015-03-16 19:40:13,11.0
481288,1.782291e+15,45959.0,865631,1,1466526,461,31,1.426506e+09,2,1051,False,False,2015-03-16 19:45:48,335.0
183573,3.894860e+16,70926.0,865631,1,1466526,461,31,1.426506e+09,3,1051,False,False,2015-03-16 19:46:13,25.0
481291,9.923643e+15,91385.0,865631,1,1466526,461,31,1.426506e+09,3,1051,False,False,2015-03-16 19:46:34,21.0
481289,4.305360e+15,149607.0,865631,1,1466526,461,31,1.426506e+09,3,1051,False,False,2015-03-16 19:47:32,58.0
481285,3.310042e+15,28397.0,865631,1,1466526,461,31,1.426510e+09,2,1051,False,False,2015-03-16 20:42:05,3273.0
481294,8.272175e+15,38342.0,865631,1,1466526,461,31,1.426510e+09,2,1051,False,False,2015-03-16 20:42:15,10.0
481284,7.341406e+15,68373.0,865631,1,1466526,461,31,1.426510e+09,3,1051,False,False,2015-03-16 20:42:45,30.0
481286,9.724002e+15,87332.0,865631,1,1466526,461,31,1.426510e+09,3,1051,False,False,2015-03-16 20:43:04,19.0
481283,5.431832e+14,143637.0,865631,1,1466526,461,31,1.426510e+09,3,1051,False,False,2015-03-16 20:44:00,56.0
481282,3.125448e+16,200948.0,865631,1,1466526,461,31,1.426510e+09,3,1051,False,False,2015-03-16 20:44:57,57.0
481287,2.118332e+16,84252.0,865631,1,1466526,461,31,1.426516e+09,2,1051,False,False,2015-03-16 22:30:52,6355.0
183571,1.788664e+16,100919.0,865631,1,1466526,461,31,1.426516e+09,3,1051,False,False,2015-03-16 22:31:09,17.0
120628,4.043249e+15,29175.0,854010,1,1409221,258,1,1.426566e+09,3,1051,False,False,2015-03-17 12:19:55,49726.0
148337,9.364542e+15,14259.0,722921,1,414869,283,31,1.426576e+09,3,1051,False,False,2015-03-17 15:10:22,10227.0
148338,1.814717e+16,23097.0,722921,1,414869,283,31,1.426576e+09,3,1051,False,False,2015-03-17 15:10:31,9.0
445919,4.994485e+16,11290.0,722921,1,414869,283,31,1.427590e+09,3,1051,False,False,2015-03-29 08:44:23,1013632.0
445920,8.852254e+15,18904.0,722921,1,414869,283,31,1.427590e+09,3,1051,False,False,2015-03-29 08:44:31,8.0
445918,1.912722e+16,222890.0,722921,1,414869,283,31,1.428224e+09,3,1051,False,False,2015-04-05 16:45:14,633643.0
445917,3.199587e+16,235349.0,722921,1,414869,283,1,1.428224e+09,3,1051,False,False,2015-04-05 16:45:27,13.0
148339,7.597285e+15,35511.0,722921,1,414869,283,1,1.428295e+09,3,1051,False,False,2015-04-06 12:28:31,70984.0
445921,3.269235e+14,24503.0,722921,1,414869,283,1,1.428300e+09,3,1051,False,False,2015-04-06 13:56:13,5262.0
148340,3.165029e+16,12267.0,722921,1,414869,283,1,1.428300e+09,3,1051,False,False,2015-04-06 13:59:27,194.0
306178,8.157889e+15,24255.0,865631,1,653735,461,1,1.428582e+09,3,1051,False,False,2015-04-09 20:20:14,282047.0

#### 有不同风险判别的id列表

In [13]:
l_various_risk = []
l_single_risk = []
l_single_safe = []
l_id_trade = trade['id'].unique()
for i in l_id_trade:
    if len(trade[trade['id'] == i]['is_risk'].unique()) > 1:
        l_various_risk.append(i)
    elif len(trade[trade['id'] == i][trade[trade['id'] == i]['is_risk'] > 0]) == len(trade[trade['id'] == i]) :
        l_single_risk.append(i)
    else:
        l_single_safe.append(i)

In [14]:
l_various_risk

[714,
 1282,
 3474,
 4167,
 4378,
 4494,
 4652,
 5084,
 5732,
 6988,
 7134,
 7171,
 7337,
 7884,
 8087,
 8248,
 9060,
 9440,
 9494,
 9557,
 10848,
 11167,
 11365,
 11439,
 11731,
 11948,
 12119,
 12532,
 12589,
 13850,
 15138,
 15367,
 15525,
 15668,
 15861,
 15968,
 16456,
 16549,
 17451,
 17906,
 18138,
 18910,
 18965,
 19541,
 19836,
 20016,
 20048,
 20921,
 21581,
 22533,
 22687,
 22742,
 22862,
 23703,
 24496,
 24511,
 24715,
 25198,
 25764,
 26185,
 26327,
 26492,
 26869,
 27277,
 27357,
 27389,
 27810,
 28552,
 28697,
 29224,
 29438,
 29822,
 31112,
 31518,
 31558,
 31794,
 32211,
 32367,
 32446,
 32826,
 33401,
 33413,
 33748,
 34225,
 35326,
 35475,
 37027,
 37730,
 38019,
 38224,
 38375,
 38432,
 38850,
 39650,
 39881,
 39942,
 40177,
 40209,
 40462,
 40737,
 40832,
 40850,
 40881,
 41104,
 42686,
 43067,
 44210,
 44385,
 44629,
 44795,
 44988,
 45944,
 45993,
 46706,
 46780,
 46787,
 48755,
 48807,
 48887,
 48997,
 49169,
 49470,
 49901,
 50590,
 50598,
 50749,
 51000,
 51187,
 53379,
 53540,
 53983,
 54217,
 55322,
 55350,
 55528,
 56861,
 56890,
 57074,
 57260,
 57498,
 58150,
 58273,
 58319,
 60265,
 60757,
 61009,
 61412,
 62681,
 63436,
 63881,
 64460,
 64603,
 64663,
 65285,
 65465,
 65666,
 66237,
 66324,
 67043,
 67225,
 68846,
 68886,
 69405,
 69465,
 70037,
 70186,
 70684,
 70842,
 71005,
 72825,
 73369,
 73492,
 73680,
 74097,
 74296,
 74513,
 75162,
 75792,
 75909,
 76586,
 76929,
 77412,
 77436,
 77682,
 78142,
 78602,
 78645,
 79075,
 79838,
 79977,
 80372,
 80421,
 80428,
 81224,
 81308,
 81612,
 81645,
 81770,
 82036,
 83788,
 84017,
 84869,
 84910,
 85065,
 85736,
 85877,
 85974,
 86131,
 86216,
 86468,
 87133,
 87319,
 88257,
 88633,
 89436,
 90254,
 90542,
 90845,
 91564,
 92929,
 92930,
 93253,
 93267,
 93555,
 93939,
 94030,
 95144,
 95721,
 96309,
 96713,
 96752,
 96881,
 97238,
 97358,
 97437,
 97550,
 97595,
 97898,
 97927,
 98286,
 98434,
 98859,
 99205,
 99400,
 99582,
 99771,
 99855,
 100020,
 101284,
 101333,
 101656,
 101818,
 102218,
 102714,
 103337,
 103992,
 104475,
 104686,
 104764,
 105035,
 105104,
 105119,
 106048,
 106558,
 106903,
 106952,
 107276,
 107361,
 107486,
 107796,
 107846,
 108247,
 108706,
 109461,
 110045,
 110102,
 110860,
 111237,
 111432,
 111460,
 111914,
 112598,
 113380,
 113713,
 114385,
 114390,
 115295,
 115574,
 115719,
 115754,
 115812,
 116746,
 116995,
 117271,
 117302,
 117416,
 117440,
 117498,
 117643,
 117777,
 118460,
 118753,
 118907,
 121071,
 121599,
 121972,
 122223,
 122491,
 122509,
 123095,
 124886,
 125016,
 125402,
 125499,
 125538,
 125967,
 126865,
 127063,
 127427,
 127432,
 127540,
 128004,
 128894,
 128971,
 129032,
 130105,
 130109,
 130371,
 131624,
 131644,
 132084,
 132195,
 133029,
 133124,
 133208,
 133229,
 133726,
 133920,
 135268,
 135426,
 135435,
 135995,
 136705,
 137436,
 138192,
 138193,
 138285,
 138652,
 138917,
 139009,
 139034,
 139035,
 139350,
 139508,
 139553,
 140254,
 140295,
 140863,
 141122,
 141236,
 141620,
 141698,
 142382,
 142468,
 143149,
 143345,
 143456,
 143823,
 143906,
 144368,
 144403,
 145094,
 145869,
 146330,
 146658,
 146817,
 147135,
 147636,
 147787,
 148545,
 148795,
 148869,
 150589,
 150867,
 150896,
 151160,
 151478,
 153433,
 153886,
 154111,
 154355,
 154625,
 154974,
 155079,
 155770,
 156272,
 156640,
 156644,
 156696,
 156809,
 157174,
 157583,
 158524,
 158729,
 158974,
 159071,
 159285,
 159650,
 159754,
 160318,
 160557,
 160592,
 160803,
 161741,
 161896,
 162242,
 163431,
 163558,
 163772,
 165049,
 165294,
 165422,
 165594,
 165662,
 165894,
 166836,
 166968,
 167177,
 167354,
 167851,
 168685,
 168944,
 169258,
 169467,
 169589,
 170277,
 170401,
 170523,
 170665,
 170769,
 171031,
 171509,
 171789,
 172870,
 173035,
 173410,
 173844,
 173994,
 173999,
 174093,
 174435,
 174655,
 174714,
 175004,
 175471]

In [15]:
l_single_risk

[134,
 228,
 547,
 1051,
 1075,
 1278,
 1291,
 1437,
 2116,
 2135,
 2536,
 2711,
 2935,
 3117,
 3169,
 3416,
 3476,
 3680,
 3817,
 3834,
 3971,
 4524,
 5965,
 6133,
 6740,
 6892,
 8651,
 8802,
 8882,
 8940,
 8988,
 9090,
 9239,
 9584,
 10195,
 10337,
 10457,
 10599,
 10946,
 11016,
 11337,
 11609,
 12282,
 12653,
 12705,
 12936,
 13140,
 13261,
 13594,
 13690,
 14364,
 14778,
 14896,
 15181,
 15355,
 15390,
 15412,
 16053,
 16140,
 16664,
 16969,
 16989,
 17291,
 17341,
 17439,
 17488,
 17756,
 17809,
 18010,
 18357,
 18692,
 18882,
 19226,
 19286,
 19358,
 19613,
 19762,
 19971,
 20391,
 20593,
 20682,
 20854,
 21018,
 21366,
 21759,
 22033,
 23211,
 23303,
 23368,
 23524,
 24445,
 24535,
 24828,
 25767,
 25973,
 26309,
 26444,
 26455,
 26707,
 26776,
 27039,
 27150,
 27250,
 27795,
 27829,
 28106,
 28121,
 28826,
 28975,
 29268,
 29718,
 31067,
 31322,
 31418,
 31943,
 31959,
 32831,
 33262,
 33313,
 33632,
 34956,
 35267,
 35349,
 35508,
 35520,
 35750,
 35760,
 35880,
 36238,
 36532,
 36616,
 36730,
 37037,
 37277,
 37452,
 37500,
 38152,
 38803,
 38865,
 38995,
 39379,
 39518,
 39538,
 39958,
 40097,
 40787,
 41026,
 41029,
 41428,
 41786,
 41895,
 41963,
 42004,
 42599,
 43005,
 43347,
 44290,
 44633,
 45216,
 45414,
 45452,
 45774,
 45779,
 46104,
 46854,
 46931,
 46967,
 46985,
 47106,
 47556,
 47760,
 47776,
 48230,
 48288,
 49161,
 49174,
 49310,
 49334,
 49874,
 50278,
 50477,
 50518,
 50768,
 50833,
 50851,
 51578,
 51876,
 52263,
 52306,
 52426,
 52518,
 52866,
 52995,
 53359,
 53524,
 53941,
 54056,
 54159,
 54827,
 54973,
 55050,
 55162,
 55212,
 55367,
 55400,
 55409,
 55986,
 56144,
 56189,
 56408,
 56536,
 56748,
 58041,
 58293,
 58477,
 58917,
 59825,
 60226,
 60271,
 60278,
 60338,
 60354,
 60356,
 60482,
 60928,
 61675,
 61922,
 62155,
 62575,
 62576,
 62654,
 62929,
 63145,
 63613,
 64310,
 64633,
 64788,
 65116,
 65489,
 65581,
 65740,
 66037,
 66142,
 66288,
 66289,
 67031,
 67372,
 67769,
 68902,
 68951,
 69119,
 69414,
 69666,
 69897,
 70743,
 70957,
 71135,
 71191,
 72144,
 72207,
 72571,
 72844,
 72923,
 73639,
 74329,
 74414,
 74585,
 75156,
 75282,
 75501,
 75863,
 75972,
 76543,
 76706,
 77244,
 77459,
 77593,
 77621,
 77785,
 77940,
 77965,
 78195,
 78444,
 78520,
 78713,
 78965,
 79104,
 79534,
 80142,
 80149,
 80166,
 80306,
 80396,
 80795,
 80932,
 81464,
 81543,
 81609,
 81796,
 81885,
 81956,
 81989,
 82149,
 82238,
 82370,
 82395,
 82415,
 82447,
 82566,
 82593,
 82743,
 82828,
 83215,
 83331,
 83877,
 83987,
 84240,
 84439,
 84523,
 84671,
 84716,
 84881,
 84985,
 85132,
 85214,
 85281,
 85503,
 85516,
 85634,
 85847,
 86481,
 86781,
 87425,
 87997,
 88199,
 88472,
 89649,
 89769,
 90774,
 90970,
 90984,
 91060,
 91362,
 91437,
 91506,
 92347,
 92616,
 92767,
 92784,
 92925,
 93132,
 93603,
 93618,
 94406,
 94408,
 94519,
 94719,
 94951,
 95001,
 95715,
 95836,
 96009,
 96056,
 96468,
 96588,
 96859,
 97310,
 97405,
 97809,
 97832,
 98123,
 98260,
 98623,
 98729,
 98818,
 99157,
 99223,
 99483,
 99783,
 99861,
 100039,
 100058,
 100487,
 100636,
 100687,
 101566,
 101757,
 101806,
 102090,
 102361,
 102653,
 103260,
 104078,
 104125,
 104899,
 105023,
 105321,
 105799,
 105906,
 106069,
 106079,
 106436,
 106551,
 106813,
 106889,
 107249,
 107283,
 107305,
 108038,
 108051,
 108258,
 108496,
 108940,
 109019,
 109226,
 109284,
 109773,
 109839,
 109862,
 110267,
 110346,
 110405,
 110411,
 111160,
 111204,
 111456,
 111549,
 111962,
 111968,
 112315,
 112566,
 112680,
 113632,
 114243,
 114459,
 114888,
 115114,
 115826,
 115988,
 116356,
 117573,
 117579,
 118128,
 118520,
 118804,
 119082,
 120182,
 120922,
 121086,
 121182,
 122113,
 122419,
 122612,
 122675,
 122927,
 122960,
 123213,
 123315,
 123545,
 123564,
 123869,
 123981,
 124664,
 125090,
 125447,
 125883,
 126067,
 126424,
 126617,
 126660,
 127393,
 127648,
 128558,
 128717,
 128889,
 128947,
 129075,
 129161,
 129422,
 129500,
 130018,
 130033,
 130357,
 130489,
 130912,
 131149,
 131186,
 131369,
 131524,
 132867,
 133149,
 133300,
 133340,
 133457,
 133518,
 133561,
 134235,
 134297,
 134855,
 135062,
 135311,
 135740,
 136201,
 136374,
 136428,
 137152,
 137672,
 137849,
 137852,
 137984,
 138058,
 138243,
 138815,
 138838,
 138929,
 139089,
 140090,
 141710,
 141965,
 142235,
 142907,
 143089,
 143096,
 143287,
 143517,
 143921,
 143995,
 144283,
 144325,
 144351,
 145264,
 145458,
 145976,
 145989,
 146530,
 147301,
 147395,
 147491,
 147573,
 147670,
 148351,
 148429,
 148547,
 148570,
 148921,
 149027,
 149192,
 149245,
 149423,
 149425,
 149600,
 149872,
 150219,
 150245,
 150421,
 150759,
 150903,
 151368,
 151710,
 151882,
 151911,
 151974,
 152183,
 152765,
 153033,
 153071,
 153424,
 153553,
 153678,
 153883,
 154218,
 155366,
 155670,
 156074,
 157292,
 157721,
 157793,
 158199,
 158262,
 159597,
 159600,
 160352,
 160357,
 160625,
 160941,
 161109,
 162027,
 162219,
 162304,
 162723,
 162725,
 162844,
 163105,
 163142,
 163248,
 163423,
 163472,
 163711,
 163906,
 164006,
 164127,
 164258,
 165089,
 165359,
 165787,
 165831,
 166366,
 167446,
 167706,
 167880,
 168631,
 168863,
 169362,
 169380,
 170086,
 170410,
 170872,
 170957,
 172180,
 172319,
 172657,
 173242,
 173839,
 173976,
 174219,
 174874,
 175033,
 175112,
 175327,
 175546,
 175795]

In [16]:
l_single_safe

[5,
 6,
 13,
 23,
 25,
 28,
 37,
 41,
 52,
 57,
 73,
 74,
 75,
 91,
 94,
 110,
 122,
 132,
 149,
 152,
 157,
 180,
 218,
 251,
 253,
 258,
 259,
 261,
 268,
 279,
 291,
 292,
 305,
 315,
 321,
 328,
 330,
 338,
 354,
 356,
 373,
 374,
 375,
 379,
 385,
 389,
 403,
 431,
 435,
 440,
 444,
 447,
 449,
 450,
 452,
 461,
 464,
 468,
 475,
 477,
 478,
 480,
 483,
 495,
 502,
 519,
 522,
 523,
 528,
 534,
 551,
 554,
 556,
 570,
 577,
 581,
 597,
 608,
 625,
 629,
 631,
 634,
 640,
 655,
 665,
 669,
 672,
 676,
 685,
 689,
 695,
 701,
 709,
 736,
 746,
 752,
 756,
 761,
 768,
 776,
 777,
 778,
 787,
 792,
 807,
 812,
 813,
 825,
 833,
 836,
 861,
 866,
 871,
 882,
 913,
 925,
 927,
 932,
 939,
 947,
 966,
 982,
 998,
 1003,
 1012,
 1022,
 1023,
 1034,
 1045,
 1046,
 1052,
 1053,
 1061,
 1069,
 1083,
 1086,
 1089,
 1091,
 1092,
 1093,
 1099,
 1104,
 1114,
 1140,
 1150,
 1180,
 1194,
 1195,
 1198,
 1201,
 1206,
 1209,
 1225,
 1243,
 1247,
 1251,
 1258,
 1260,
 1266,
 1283,
 1284,
 1285,
 1286,
 1295,
 1297,
 1299,
 1304,
 1319,
 1321,
 1348,
 1351,
 1366,
 1377,
 1378,
 1380,
 1384,
 1385,
 1396,
 1404,
 1407,
 1409,
 1410,
 1416,
 1422,
 1423,
 1428,
 1431,
 1445,
 1452,
 1458,
 1460,
 1461,
 1470,
 1471,
 1474,
 1475,
 1483,
 1489,
 1496,
 1498,
 1500,
 1506,
 1518,
 1522,
 1525,
 1530,
 1531,
 1538,
 1542,
 1543,
 1553,
 1573,
 1587,
 1591,
 1597,
 1611,
 1616,
 1618,
 1619,
 1620,
 1636,
 1640,
 1662,
 1663,
 1667,
 1673,
 1674,
 1676,
 1683,
 1685,
 1689,
 1707,
 1708,
 1716,
 1718,
 1726,
 1731,
 1735,
 1736,
 1751,
 1757,
 1764,
 1765,
 1770,
 1779,
 1780,
 1794,
 1804,
 1809,
 1814,
 1818,
 1825,
 1829,
 1835,
 1839,
 1842,
 1853,
 1866,
 1875,
 1883,
 1885,
 1888,
 1889,
 1921,
 1926,
 1931,
 1935,
 1937,
 1946,
 1949,
 1951,
 1952,
 1962,
 1975,
 1977,
 1978,
 1983,
 1991,
 1998,
 2000,
 2007,
 2019,
 2024,
 2032,
 2039,
 2045,
 2059,
 2060,
 2061,
 2063,
 2069,
 2070,
 2077,
 2082,
 2090,
 2096,
 2102,
 2112,
 2117,
 2150,
 2151,
 2152,
 2154,
 2161,
 2169,
 2183,
 2186,
 2189,
 2197,
 2201,
 2203,
 2208,
 2211,
 2220,
 2236,
 2237,
 2239,
 2240,
 2250,
 2254,
 2264,
 2269,
 2279,
 2282,
 2291,
 2296,
 2311,
 2325,
 2328,
 2344,
 2348,
 2374,
 2393,
 2396,
 2397,
 2403,
 2408,
 2413,
 2417,
 2422,
 2428,
 2435,
 2439,
 2451,
 2510,
 2531,
 2532,
 2541,
 2546,
 2548,
 2555,
 2557,
 2567,
 2570,
 2571,
 2577,
 2588,
 2602,
 2606,
 2626,
 2635,
 2637,
 2647,
 2648,
 2649,
 2653,
 2669,
 2670,
 2671,
 2677,
 2678,
 2692,
 2730,
 2732,
 2737,
 2743,
 2762,
 2764,
 2777,
 2791,
 2801,
 2806,
 2809,
 2815,
 2821,
 2840,
 2845,
 2847,
 2857,
 2867,
 2877,
 2882,
 2885,
 2886,
 2897,
 2916,
 2920,
 2925,
 2930,
 2941,
 2953,
 2956,
 2962,
 2963,
 2967,
 2978,
 2983,
 2990,
 2993,
 2994,
 2999,
 3001,
 3003,
 3009,
 3010,
 3019,
 3022,
 3026,
 3035,
 3041,
 3057,
 3059,
 3092,
 3100,
 3101,
 3120,
 3123,
 3125,
 3132,
 3136,
 3146,
 3151,
 3158,
 3159,
 3168,
 3173,
 3179,
 3185,
 3197,
 3199,
 3200,
 3207,
 3212,
 3214,
 3219,
 3226,
 3246,
 3254,
 3255,
 3267,
 3268,
 3270,
 3278,
 3280,
 3295,
 3303,
 3304,
 3307,
 3313,
 3333,
 3335,
 3338,
 3341,
 3344,
 3348,
 3349,
 3355,
 3369,
 3372,
 3394,
 3399,
 3401,
 3409,
 3410,
 3415,
 3419,
 3423,
 3439,
 3440,
 3443,
 3453,
 3457,
 3475,
 3478,
 3494,
 3498,
 3515,
 3520,
 3523,
 3530,
 3531,
 3533,
 3545,
 3557,
 3558,
 3559,
 3571,
 3579,
 3592,
 3608,
 3609,
 3630,
 3635,
 3636,
 3640,
 3642,
 3644,
 3659,
 3662,
 3663,
 3671,
 3688,
 3693,
 3695,
 3702,
 3708,
 3713,
 3719,
 3725,
 3729,
 3733,
 3735,
 3739,
 3742,
 3743,
 3749,
 3763,
 3770,
 3789,
 3815,
 3818,
 3828,
 3845,
 3853,
 3858,
 3877,
 3890,
 3895,
 3896,
 3904,
 3906,
 3909,
 3926,
 3947,
 3948,
 3956,
 3959,
 3965,
 3996,
 4001,
 4006,
 4010,
 4015,
 4021,
 4027,
 4050,
 4054,
 4064,
 4069,
 4072,
 4083,
 4088,
 4110,
 4111,
 4118,
 4122,
 4123,
 4126,
 4136,
 4144,
 4157,
 4161,
 4163,
 4184,
 4201,
 4203,
 4207,
 4209,
 4210,
 4214,
 4216,
 4217,
 4221,
 4223,
 4228,
 4240,
 4241,
 4254,
 4258,
 4263,
 4273,
 4275,
 4276,
 4281,
 4289,
 4299,
 4308,
 4311,
 4315,
 4320,
 4322,
 4327,
 4329,
 4331,
 4335,
 4336,
 4337,
 4342,
 4345,
 4364,
 4370,
 4374,
 4394,
 4398,
 4403,
 4405,
 4414,
 4416,
 4423,
 4445,
 4451,
 4455,
 4461,
 4465,
 4467,
 4478,
 4488,
 4511,
 4530,
 4543,
 4544,
 4552,
 4556,
 4583,
 4586,
 4595,
 4596,
 4600,
 4604,
 4606,
 4610,
 4614,
 4619,
 4625,
 4638,
 4645,
 4648,
 4669,
 4673,
 4674,
 4690,
 4691,
 4702,
 4707,
 4709,
 4714,
 4717,
 4723,
 4725,
 4737,
 4750,
 4765,
 4771,
 4773,
 4782,
 4785,
 4792,
 4798,
 4819,
 4836,
 4846,
 4855,
 4862,
 4864,
 4865,
 4869,
 4878,
 4880,
 4900,
 4929,
 4936,
 4946,
 4957,
 4967,
 4969,
 4972,
 4983,
 4986,
 4996,
 5011,
 5021,
 5025,
 5054,
 5058,
 5062,
 5065,
 5067,
 5068,
 5069,
 5074,
 5087,
 5095,
 5104,
 5109,
 5117,
 5118,
 5121,
 5148,
 5155,
 5159,
 5161,
 5165,
 5166,
 5169,
 5171,
 5173,
 5175,
 5180,
 5192,
 5196,
 5199,
 5203,
 5222,
 5223,
 5231,
 5234,
 5248,
 5253,
 5261,
 5270,
 5277,
 5280,
 5285,
 5286,
 5288,
 5290,
 5312,
 5321,
 5349,
 5380,
 5384,
 5391,
 5393,
 5397,
 5404,
 5408,
 5410,
 5411,
 5415,
 5422,
 5424,
 5431,
 5441,
 5462,
 5466,
 5477,
 5484,
 5496,
 5501,
 5532,
 5536,
 5541,
 5551,
 5553,
 5555,
 5565,
 5571,
 5582,
 5592,
 5596,
 5610,
 5622,
 5627,
 5632,
 5635,
 5649,
 5653,
 5655,
 5660,
 5662,
 5663,
 5667,
 5672,
 5682,
 5686,
 5689,
 5690,
 5698,
 5717,
 5721,
 5725,
 5742,
 5744,
 5759,
 5768,
 5776,
 5777,
 5778,
 5782,
 5785,
 5788,
 5802,
 5803,
 5816,
 5823,
 5832,
 5839,
 5843,
 5854,
 5855,
 5858,
 5863,
 5870,
 5878,
 5880,
 5881,
 5887,
 5888,
 5890,
 5891,
 5895,
 5899,
 5906,
 5922,
 5924,
 5930,
 5944,
 5951,
 5956,
 5962,
 5966,
 5969,
 5974,
 5986,
 5987,
 5992,
 6000,
 6004,
 6005,
 6006,
 6007,
 6021,
 6034,
 6038,
 6039,
 6043,
 6048,
 6049,
 6058,
 6066,
 6067,
 6080,
 6083,
 6086,
 6094,
 6099,
 6114,
 6120,
 6138,
 6139,
 6142,
 6148,
 6151,
 6155,
 6156,
 6169,
 6194,
 6196,
 6200,
 6212,
 6219,
 6234,
 6238,
 6241,
 6245,
 6248,
 6257,
 6260,
 6270,
 6312,
 6315,
 6319,
 6321,
 6322,
 6328,
 6333,
 6335,
 6347,
 6355,
 6363,
 6365,
 6373,
 6395,
 6410,
 6411,
 6415,
 6440,
 6443,
 6444,
 6447,
 6452,
 6458,
 6461,
 6475,
 6484,
 6494,
 6505,
 6512,
 6516,
 6535,
 6539,
 6549,
 6550,
 6557,
 6564,
 6582,
 6584,
 6588,
 6595,
 6601,
 6602,
 6605,
 6609,
 6637,
 6643,
 6647,
 6648,
 6650,
 6657,
 6661,
 6677,
 6685,
 6689,
 6694,
 6712,
 6714,
 6725,
 6748,
 6750,
 6752,
 6755,
 6773,
 6776,
 6790,
 6815,
 6816,
 6820,
 6833,
 6851,
 6855,
 6861,
 6864,
 6868,
 6878,
 6894,
 6897,
 6913,
 6936,
 6940,
 6953,
 6957,
 6961,
 6973,
 6978,
 6984,
 6985,
 6992,
 7002,
 7003,
 7027,
 7032,
 7038,
 7040,
 7059,
 7068,
 7091,
 7094,
 7097,
 7101,
 7113,
 7119,
 7129,
 7137,
 7149,
 7152,
 7154,
 7155,
 7156,
 7169,
 7172,
 7174,
 7176,
 7189,
 7195,
 7201,
 7210,
 7223,
 7229,
 7246,
 7254,
 ...]

### test id and train id

In [17]:
print '测试集中的新id比例： ', len(np.setdiff1d(t_trade_test['id'].unique(),t_trade_train['id'].unique())) / (len(t_trade_test['id'].unique()) * 1.0)

测试集中的新id比例：  0.277915291529

### 训练验证集分析

In [21]:
train = t_trade_train.copy()

train.loc[:,'date'] = train['time'].map(lambda x: x[:10])
train.loc[:,'month'] = pd.to_datetime(train['time']).dt.month
train_1 = train[train['is_risk'] == 1].copy()
train_0 = train[train['is_risk'] == 0].copy()
l1 = train_1.groupby('month')['month'].count()
l0 = train_0.groupby('month')['month'].count()
print "月份交易风险统计", l1
print "月份交易正常统计", l0
for key in l1.keys():
    print key, l1[key] / (1.0 * l0[key])

月份交易风险统计 month
1    588
2    472
3    879
4    726
5    657
6    321
Name: month, dtype: int64
月份交易正常统计 month
1    23224
2    21519
3    21684
4    16196
5    18652
6    27801
Name: month, dtype: int64
1 0.0253186358939
2 0.0219341047446
3 0.0405368013282
4 0.0448258829341
5 0.0352241046537
6 0.0115463472537

#### 四月份为验证集

In [22]:
lid  = 15525
train[train['id'] == lid]

        rowkey                   time     id  is_risk        date  month
3599     51099  2015-01-09 16:08:49.0  15525        1  2015-01-09      1
6102     82906  2015-01-14 15:25:25.0  15525        0  2015-01-14      1
50700   710963  2015-05-26 13:47:02.0  15525        0  2015-05-26      5
70264    51103  2015-01-09 16:09:35.0  15525        1  2015-01-09      1
70265    51114  2015-01-09 16:11:13.0  15525        1  2015-01-09      1
70281    51438  2015-01-09 17:04:39.0  15525        1  2015-01-09      1
116031  694209  2015-05-23 00:35:03.0  15525        0  2015-05-23      5

In [23]:
t_login_train[t_login_train['id'] == lid]

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time,time_diff
340356,5.159719e+15,6688.0,835072,1,125456,386,1,1.420350e+09,3,15525,False,False,2015-01-04 13:39:06,NaN
296496,3.961500e+16,3000.0,1071119,2,846898,271,1,1.420350e+09,3,15525,False,False,2015-01-04 13:43:54,288.0
42354,9.521831e+15,2000.0,835072,2,125456,386,1,1.420350e+09,3,15525,False,False,2015-01-04 13:45:48,114.0
55535,1.532043e+16,0.0,116644,2,647722,386,1,1.420353e+09,1,15525,False,False,2015-01-04 14:21:47,2159.0
353547,5.761823e+14,1000.0,116644,2,647722,386,1,1.420354e+09,1,15525,False,False,2015-01-04 14:39:28,1061.0
528847,5.198079e+15,5000.0,835072,2,1307063,386,31,1.420471e+09,3,15525,False,False,2015-01-05 23:23:26,117838.0
402358,3.669696e+15,26181.0,280197,1,1123973,386,1,1.420521e+09,3,15525,False,False,2015-01-06 13:02:39,49153.0
55536,3.547621e+15,1000.0,22810,2,647722,386,1,1.420705e+09,3,15525,False,False,2015-01-08 16:24:22,184903.0
55533,2.509397e+15,8000.0,835072,2,647722,386,1,1.420706e+09,3,15525,False,False,2015-01-08 16:30:31,369.0
55534,4.588106e+16,9000.0,835072,2,647722,386,1,1.420706e+09,3,15525,False,False,2015-01-08 16:30:31,0.0
353546,8.698820e+15,9000.0,835072,2,647722,386,1,1.420706e+09,3,15525,False,False,2015-01-08 16:30:31,0.0
55539,1.657813e+16,10000.0,835072,2,647722,386,1,1.420706e+09,1,15525,False,False,2015-01-08 16:41:23,652.0
353548,7.051298e+14,8000.0,835072,2,647722,386,1,1.420706e+09,1,15525,False,False,2015-01-08 16:41:23,0.0
55538,1.291036e+16,8000.0,835072,2,647722,386,1,1.420706e+09,1,15525,False,False,2015-01-08 16:41:24,1.0
55537,4.170362e+16,8000.0,835072,2,647722,386,1,1.420706e+09,1,15525,False,False,2015-01-08 16:41:32,8.0
353549,3.823676e+16,9000.0,835072,2,647722,386,1,1.420706e+09,1,15525,False,False,2015-01-08 16:41:33,1.0
353544,7.401919e+15,13283.0,280197,1,648219,386,1,1.420778e+09,3,15525,False,False,2015-01-09 12:32:46,71473.0
117690,3.091339e+15,10332.0,280197,1,1306542,386,1,1.420791e+09,3,15525,False,False,2015-01-09 16:04:04,12678.0
86124,6.680035e+15,27391.0,680497,1,170174,386,1,1.421221e+09,1,15525,False,False,2015-01-14 15:30:40,429996.0
415434,9.467670e+15,9000.0,835072,2,710893,386,1,1.421221e+09,3,15525,False,False,2015-01-14 15:44:29,829.0
415435,7.218491e+15,8000.0,835072,2,710893,386,1,1.421221e+09,3,15525,False,False,2015-01-14 15:44:29,0.0
218083,9.703291e+15,18684.0,280197,1,283104,386,1,1.421234e+09,3,15525,False,False,2015-01-14 19:06:13,12104.0
415436,2.669729e+16,9000.0,835072,2,710893,386,1,1.421234e+09,1,15525,False,False,2015-01-14 19:16:13,600.0
415437,9.662207e+15,8000.0,835072,2,710893,386,1,1.421234e+09,1,15525,False,False,2015-01-14 19:16:13,0.0
528846,2.133198e+16,20085.0,280197,1,1276543,386,1,1.421282e+09,1,15525,False,False,2015-01-15 08:36:35,48022.0
231180,5.987323e+15,10274.0,280197,16,1276543,386,1,1.421286e+09,1,15525,False,False,2015-01-15 09:41:41,3906.0
117694,6.435981e+15,6000.0,835072,2,710893,386,1,1.421291e+09,1,15525,False,False,2015-01-15 10:57:13,4532.0
117695,4.102699e+15,5000.0,835072,2,710893,386,1,1.421291e+09,1,15525,False,False,2015-01-15 10:57:13,0.0
262615,4.282609e+16,8000.0,835072,2,723515,386,1,1.421374e+09,1,15525,False,False,2015-01-16 10:04:26,83233.0
560106,1.314288e+16,9000.0,835072,2,723515,386,1,1.421374e+09,1,15525,False,False,2015-01-16 10:04:26,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321772,9.029601e+15,14458.0,619115,1,514720,386,1,1.430544e+09,1,15525,False,False,2015-05-02 13:23:22,14517.0
497503,8.609460e+15,8000.0,76081,2,620369,386,1,1.430612e+09,1,15525,False,False,2015-05-03 08:20:43,68241.0
497505,6.281408e+15,5000.0,465424,2,620369,386,1,1.430626e+09,1,15525,False,False,2015-05-03 12:13:52,13989.0
497504,2.040716e+16,1892.0,486633,1,620369,386,1,1.430631e+09,1,15525,False,False,2015-05-03 13:23:31,4179.0
117691,7.921567e+15,21911.0,618755,1,821354,386,1,1.430973e+09,3,15525,False,False,2015-05-07 12:28:00,342269.0
560093,9.586015e+15,9019.0,618755,1,857168,386,31,1.431879e+09,3,15525,False,False,2015-05-18 00:10:54,906174.0
560092,6.355562e+15,15939.0,618755,1,857168,386,1,1.431879e+09,3,15525,False,False,2015-05-18 00:11:01,7.0
515748,6.641119e+15,28668.0,618755,1,1558534,386,1,1.432101e+09,1,15525,False,False,2015-05-20 13:48:50,221869.0
515749,6.435820e+15,8000.0,173458,2,1558534,386,1,1.432139e+09,3,15525,False,False,2015-05-21 00:24:11,38121.0
528845,4.672143e+15,16300.0,618755,1,511691,386,1,1.432312e+09,1,15525,False,False,2015-05-23 00:21:40,172649.0
528850,5.914155e+15,9607.0,618755,1,369609,386,31,1.432572e+09,1,15525,False,False,2015-05-26 00:48:18,260798.0
528849,3.828841e+15,14426.0,618755,1,369609,386,31,1.432573e+09,1,15525,False,False,2015-05-26 00:48:23,5.0
231182,9.450727e+14,31173.0,618755,1,369609,386,1,1.432573e+09,1,15525,False,False,2015-05-26 00:48:40,17.0
528848,6.242234e+15,2143.0,618755,1,369609,386,31,1.432573e+09,1,15525,False,False,2015-05-26 00:52:39,239.0
231181,1.888963e+15,10686.0,618755,1,369609,386,1,1.432573e+09,1,15525,False,False,2015-05-26 00:52:47,8.0
231183,9.713443e+15,3243.0,618755,1,1536909,386,31,1.432612e+09,1,15525,False,False,2015-05-26 11:43:55,39068.0
528853,2.971697e+16,10477.0,618755,1,1536909,386,1,1.432612e+09,1,15525,False,False,2015-05-26 11:44:02,7.0
528852,6.446567e+15,7872.0,618755,1,1536909,386,1,1.432636e+09,1,15525,False,False,2015-05-26 18:23:32,23970.0
23627,8.996231e+15,6000.0,85926,2,26137,386,1,1.432831e+09,1,15525,False,False,2015-05-29 00:30:08,194796.0
167006,8.626121e+15,1696.0,618755,1,795457,386,1,1.432872e+09,1,15525,False,False,2015-05-29 11:53:37,41009.0
117687,5.383583e+15,21539.0,618755,1,1281895,386,1,1.432949e+09,3,15525,False,False,2015-05-30 09:26:09,77552.0
415430,9.545549e+15,17680.0,618755,8,1281895,386,1,1.433005e+09,1,15525,False,False,2015-05-31 01:03:34,56245.0
353543,3.705319e+16,13595.0,618755,8,1462845,386,1,1.433055e+09,1,15525,False,False,2015-05-31 14:42:27,49133.0
353542,9.775958e+15,14550.0,618755,8,1462845,386,1,1.433060e+09,1,15525,False,False,2015-05-31 16:11:49,5362.0
340355,8.567059e+15,26068.0,91233,8,1235848,386,31,1.433136e+09,3,15525,False,False,2015-06-01 13:14:44,75775.0
42353,9.219957e+15,39459.0,91233,8,1235848,386,31,1.433136e+09,1,15525,False,False,2015-06-01 13:14:58,14.0
340354,7.613861e+15,16723.0,618755,1,1235848,386,1,1.433140e+09,1,15525,False,False,2015-06-01 14:30:06,4508.0
497502,4.969351e+15,16340.0,618755,8,812988,386,1,1.433352e+09,1,15525,False,False,2015-06-04 01:12:25,211339.0
497501,2.429544e+16,18646.0,618755,1,812988,386,1,1.433436e+09,1,15525,False,False,2015-06-05 00:31:46,83961.0
528851,1.317087e+16,19019.0,618755,1,444400,386,1,1.435316e+09,1,15525,False,False,2015-06-26 18:59:38,1880872.0

In [24]:
t_login_train

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time,time_diff
72383,4.534146e+15,17797.0,786238,1,505101,400,1,1.429618e+09,3,5,False,False,2015-04-21 20:14:55,NaN
370189,7.010986e+15,6000.0,781684,2,505101,400,1,1.429619e+09,3,5,False,False,2015-04-21 20:21:59,424.0
453124,2.404703e+16,31864.0,77727,1,1300209,398,31,1.434674e+09,3,5,False,False,2015-06-19 08:26:39,5054680.0
155311,2.805986e+16,37972.0,77727,1,1300209,398,1,1.434674e+09,3,5,False,False,2015-06-19 08:26:45,6.0
49308,9.866189e+15,8000.0,620460,2,888204,238,6,1.424656e+09,3,6,False,False,2015-02-23 09:52:09,NaN
347185,8.474299e+15,6000.0,620460,2,888204,238,6,1.424656e+09,3,6,False,False,2015-02-23 09:52:27,18.0
49309,4.799735e+16,8000.0,620460,2,888204,238,1,1.424656e+09,3,6,False,False,2015-02-23 09:54:40,133.0
384847,5.088796e+15,8000.0,703894,2,1289501,238,1,1.424689e+09,3,6,False,False,2015-02-23 18:57:22,32562.0
572732,2.339657e+15,10000.0,68936,2,899325,238,31,1.428980e+09,3,6,False,False,2015-04-14 10:55:55,4291113.0
572731,5.782259e+15,8000.0,68936,2,899325,238,31,1.428980e+09,3,6,False,False,2015-04-14 10:56:14,19.0
275402,1.487588e+15,9000.0,68936,2,899325,238,31,1.428980e+09,3,6,False,False,2015-04-14 10:59:19,185.0
572733,9.212447e+15,8000.0,68936,2,899325,238,1,1.428980e+09,3,6,False,False,2015-04-14 10:59:39,20.0
334672,3.925029e+15,6000.0,620460,2,143573,238,1,1.430224e+09,3,6,False,False,2015-04-28 20:18:48,1243149.0
365867,5.087576e+15,2000.0,15010,2,62773,69,1,1.420699e+09,3,13,False,False,2015-01-08 14:34:03,NaN
300331,3.434384e+15,9000.0,71964,2,1095144,69,1,1.434865e+09,3,13,False,False,2015-06-21 13:38:49,14166286.0
372133,9.033389e+15,14849.0,830399,1,567617,116,1,1.433837e+09,1,23,False,False,2015-06-09 16:06:37,NaN
309933,7.907834e+14,7705.0,1045815,1,718805,116,1,1.434356e+09,1,23,False,False,2015-06-15 16:07:58,518481.0
297816,1.150930e+15,7702.0,1045815,1,1063358,116,1,1.434599e+09,1,23,False,False,2015-06-18 11:45:23,243445.0
445741,1.483518e+16,38976.0,91926,1,1485033,380,1,1.432777e+09,3,25,False,False,2015-05-28 09:42:45,NaN
128243,8.381303e+15,6000.0,427374,2,1196378,194,1,1.434016e+09,3,25,False,False,2015-06-11 17:38:45,1238160.0
88306,2.382159e+15,1000.0,873042,2,317752,277,1,1.420730e+09,3,28,False,False,2015-01-08 23:12:30,NaN
446122,1.233773e+16,7000.0,567237,2,297028,277,1,1.433734e+09,3,28,False,False,2015-06-08 11:34:21,13004511.0
71468,4.813274e+16,10000.0,992941,2,873083,78,1,1.429012e+09,3,37,False,False,2015-04-14 19:44:49,NaN
358722,6.975012e+15,8000.0,835072,2,56626,79,1,1.429033e+09,3,37,False,False,2015-04-15 01:28:38,20629.0
358723,8.308597e+15,8000.0,835072,2,56626,79,1,1.429033e+09,3,37,False,False,2015-04-15 01:28:38,0.0
358724,8.615574e+15,8000.0,835072,2,56626,79,1,1.429033e+09,3,37,False,False,2015-04-15 01:28:38,0.0
71467,7.753174e+15,12000.0,890969,2,873083,78,1,1.429105e+09,3,37,False,False,2015-04-15 21:29:52,72074.0
184905,5.254123e+15,8000.0,835072,2,416822,268,1,1.430885e+09,3,37,False,False,2015-05-06 11:58:09,1780097.0
482636,3.529819e+16,8000.0,835072,2,416822,268,1,1.430885e+09,3,37,False,False,2015-05-06 11:58:09,0.0
482637,4.947612e+15,9000.0,835072,2,416822,268,1,1.430885e+09,3,37,False,False,2015-05-06 11:58:09,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52720,9.911166e+15,11509.0,194295,1,1004604,79,1,1.430182e+09,1,175970,False,False,2015-04-28 08:40:01,85733.0
52717,4.629746e+15,10632.0,194295,1,1004604,79,1,1.430272e+09,1,175970,False,False,2015-04-29 09:44:57,90296.0
350764,4.317046e+15,13310.0,194295,1,1004604,79,1,1.430547e+09,1,175970,False,False,2015-05-02 14:02:03,274626.0
350768,3.194250e+15,27388.0,194295,1,1004604,79,1,1.430633e+09,1,175970,False,False,2015-05-03 14:11:28,86965.0
350753,9.423108e+15,11110.0,648066,1,1004604,79,1,1.433211e+09,1,175970,False,False,2015-06-02 10:16:21,2577893.0
178590,5.726326e+15,31774.0,565353,1,241996,79,1,1.433384e+09,1,175970,False,False,2015-06-04 10:14:09,172668.0
350754,8.495951e+15,8400.0,648066,1,1004604,79,1,1.433840e+09,1,175970,False,False,2015-06-09 16:56:54,456165.0
52723,6.934083e+15,12769.0,648066,1,1004604,79,1,1.433915e+09,1,175970,False,False,2015-06-10 13:42:31,74737.0
363349,8.410806e+15,45745.0,565353,1,1091647,79,1,1.433932e+09,1,175970,False,False,2015-06-10 18:23:46,16875.0
52730,1.411753e+16,15071.0,648066,1,1004604,79,1,1.434075e+09,1,175970,False,False,2015-06-12 10:05:13,142887.0
350766,7.847123e+15,19514.0,648066,1,1004604,79,1,1.434087e+09,1,175970,False,False,2015-06-12 13:26:19,12066.0
350762,2.729352e+16,11006.0,648066,1,1004604,79,1,1.434187e+09,1,175970,False,False,2015-06-13 17:13:00,100001.0
52725,9.619031e+15,118767.0,648066,1,1004604,79,1,1.434187e+09,1,175970,False,False,2015-06-13 17:14:48,108.0
52722,6.202664e+15,9007.0,648066,1,1004604,79,1,1.434269e+09,1,175970,False,False,2015-06-14 15:59:26,81878.0
350769,3.407969e+15,7587.0,648066,1,1004604,79,1,1.434419e+09,1,175970,False,False,2015-06-16 09:36:08,149802.0
52735,9.658209e+15,9748.0,648066,1,1004604,79,1,1.434421e+09,1,175970,False,False,2015-06-16 10:09:17,1989.0
52731,6.541048e+15,9489.0,648066,1,1004604,79,1,1.434503e+09,1,175970,False,False,2015-06-17 09:07:40,82703.0
350750,7.342042e+15,10680.0,648066,1,1004604,79,1,1.434702e+09,1,175970,False,False,2015-06-19 16:19:29,198709.0
52736,4.540940e+15,1123742.0,648066,1,1004604,79,1,1.434786e+09,1,175970,False,False,2015-06-20 15:41:41,84132.0
350745,3.854972e+15,10237.0,648066,1,1004604,79,1,1.434848e+09,1,175970,False,False,2015-06-21 08:48:12,61591.0
52715,6.293808e+15,18529.0,648066,1,1004604,79,1,1.434940e+09,1,175970,False,False,2015-06-22 10:22:41,92069.0
52733,7.665968e+15,7664.0,648066,1,1004604,79,1,1.435280e+09,1,175970,False,False,2015-06-26 08:58:29,340548.0
350763,2.021934e+14,10246.0,648066,1,1004604,79,1,1.435372e+09,1,175970,False,False,2015-06-27 10:22:09,91420.0
52728,2.850496e+15,15808.0,648066,1,1004604,79,1,1.435461e+09,1,175970,False,False,2015-06-28 11:16:08,89639.0
513852,5.001780e+15,3776.0,835072,1,733855,58,1,1.427614e+09,1,175977,False,False,2015-03-29 15:26:19,NaN
383326,5.322814e+13,63486.0,63047,1,1249850,252,1,1.428119e+09,1,175977,False,False,2015-04-04 11:40:04,504825.0
488542,3.345675e+15,9978.0,280918,1,1067606,252,1,1.429352e+09,1,175977,False,False,2015-04-18 18:07:10,1232826.0
26832,8.804714e+15,22573.0,150029,1,827728,44,1,1.430193e+09,3,175987,False,False,2015-04-28 11:50:49,NaN
26833,5.369807e+15,13674.0,150029,1,827728,44,1,1.430790e+09,3,175987,False,False,2015-05-05 09:47:31,597402.0
324899,4.012386e+16,11301.0,150029,1,827728,44,1,1.431256e+09,3,175987,False,False,2015-05-10 19:09:23,465712.0

In [63]:
trade_train

        rowkey             trade_time      id  is_risk
0            3  2015-01-01 00:00:41.0   27863        0
1            6  2015-01-01 00:00:46.0  115201        0
2           13  2015-01-01 00:01:02.0  143711        0
3           32  2015-01-01 00:03:00.0  172699        0
4           43  2015-01-01 00:03:52.0   53265        0
5           67  2015-01-01 00:05:51.0   18231        0
6           94  2015-01-01 00:10:12.0  147174        0
7           98  2015-01-01 00:10:48.0  141674        0
8          116  2015-01-01 00:13:16.0  105324        0
9          147  2015-01-01 00:19:07.0  168749        0
10         198  2015-01-01 00:25:51.0  139034        0
11         282  2015-01-01 00:48:11.0  157472        0
12         287  2015-01-01 00:49:40.0  144195        0
13         293  2015-01-01 00:50:41.0  164198        0
14         320  2015-01-01 00:58:28.0  115201        0
15         343  2015-01-01 01:05:47.0   87482        0
16         344  2015-01-01 01:05:55.0   64543        0
17         380  2015-01-01 01:17:51.0   53933        0
18         393  2015-01-01 01:22:20.0  174789        0
19         419  2015-01-01 01:28:08.0  162466        0
20         440  2015-01-01 01:40:30.0   24002        0
21         464  2015-01-01 01:48:43.0   59616        0
22         472  2015-01-01 01:51:10.0  120026        0
23         476  2015-01-01 01:52:28.0  120026        0
24         478  2015-01-01 01:52:39.0   30357        0
25         503  2015-01-01 02:06:44.0   48831        0
26         506  2015-01-01 02:08:51.0   61579        0
27         528  2015-01-01 02:33:32.0   85435        0
28         536  2015-01-01 02:39:07.0   72922        0
29         555  2015-01-01 03:02:01.0   18138        1
...        ...                    ...     ...      ...
132689  950365  2015-06-30 22:31:39.0  168845        0
132690  950366  2015-06-30 22:31:46.0   34934        0
132691  950387  2015-06-30 22:35:40.0  116080        0
132692  950401  2015-06-30 22:37:52.0   64345        0
132693  950418  2015-06-30 22:40:05.0   69954        0
132694  950433  2015-06-30 22:43:32.0  158245        0
132695  950461  2015-06-30 22:49:28.0   78179        0
132696  950495  2015-06-30 22:55:56.0  159008        0
132697  950512  2015-06-30 22:58:03.0   32497        0
132698  950527  2015-06-30 22:59:17.0   65838        0
132699  950532  2015-06-30 23:00:55.0   48280        0
132700  950534  2015-06-30 23:01:41.0   15112        0
132701  950536  2015-06-30 23:02:27.0   57462        0
132702  950559  2015-06-30 23:09:30.0   57462        0
132703  950565  2015-06-30 23:10:44.0  119417        0
132704  950573  2015-06-30 23:14:41.0   82440        0
132705  950585  2015-06-30 23:17:56.0  152510        0
132706  950587  2015-06-30 23:18:12.0  152510        0
132707  950599  2015-06-30 23:19:17.0   70824        0
132708  950615  2015-06-30 23:21:39.0  144435        0
132709  950648  2015-06-30 23:32:04.0   92497        0
132710  950654  2015-06-30 23:32:48.0   82440        0
132711  950664  2015-06-30 23:35:42.0   93970        0
132712  950665  2015-06-30 23:35:43.0   93970        0
132713  950667  2015-06-30 23:36:07.0   49360        0
132714  950697  2015-06-30 23:45:17.0   39176        0
132715  950703  2015-06-30 23:46:07.0   61280        0
132716  950714  2015-06-30 23:49:32.0   72429        0
132717  950720  2015-06-30 23:51:08.0  106040        0
132718  950727  2015-06-30 23:53:19.0   72429        0

[132719 rows x 4 columns]

In [72]:
login_train = t_login_train.copy()
trade_train = t_trade_train.copy()
trade_train.rename(columns={'time':'trade_time'},inplace=True)
login_train.rename(columns={'time':'login_time'},inplace=True)
trade_train['trade_time'] = pd.to_datetime(trade_train['trade_time'])
trade_train.sort_values('trade_time',ascending=True)
trade_train.loc[:,'trade_time_diff'] = trade_train.groupby('id')['trade_time'].diff(1)
trade_train['trade_time_diff'] = trade_train['trade_time_diff'].map(lambda x: x.total_seconds())
login_trade_train = pd.merge(trade_train[['id','trade_time','trade_time_diff','is_risk']],login_train, on='id',how='left')
login_trade_train['is_risk'] = login_trade_train['is_risk'].astype('int')
# # login_trade_train['log_from'] = login_trade_train['log_from'].astype('int')
# login_trade_train['city'] = login_trade_train['city'].astype('int')
# login_trade_train['result'] = login_trade_train['result'].astype('int')
# login_trade_train['type'] = login_trade_train['type'].astype('int')
login_trade_train['trade_time'] = pd.to_datetime(login_trade_train['trade_time'])
login_trade_train['login_time'] = pd.to_datetime(login_trade_train['login_time'])
login_trade_train.loc[:,'login_trade_diff']= login_trade_train['trade_time'] - login_trade_train['login_time']
login_trade_train['login_trade_diff'] = login_trade_train['login_trade_diff'].map(lambda x: x.total_seconds())
login_trade_train

,id,trade_time,trade_time_diff,is_risk,log_id,timelong,device,log_from,ip,city,result,timestamp,type,is_scan,is_sec,login_time,time_diff,login_trade_diff
0,27863,2015-01-01 00:00:41,NaN,0,6.813894e+15,14000.0,165080.0,2.0,901964.0,418.0,31.0,1.431729e+09,3.0,False,False,2015-05-16 06:37:03,NaN,-11687782.0
1,27863,2015-01-01 00:00:41,NaN,0,4.517487e+15,8000.0,165080.0,2.0,901964.0,418.0,31.0,1.431730e+09,3.0,False,False,2015-05-16 06:42:20,317.0,-11688099.0
2,27863,2015-01-01 00:00:41,NaN,0,7.318933e+15,8000.0,165080.0,2.0,901964.0,418.0,31.0,1.431730e+09,3.0,False,False,2015-05-16 06:42:30,10.0,-11688109.0
3,27863,2015-01-01 00:00:41,NaN,0,1.415501e+16,38000.0,165080.0,2.0,901964.0,418.0,1.0,1.431730e+09,3.0,False,False,2015-05-16 06:42:55,25.0,-11688134.0
4,115201,2015-01-01 00:00:46,NaN,0,9.112482e+15,17670.0,573956.0,1.0,953942.0,243.0,1.0,1.420417e+09,3.0,False,False,2015-01-05 08:13:09,NaN,-375143.0
5,115201,2015-01-01 00:00:46,NaN,0,2.860429e+15,43119.0,573956.0,1.0,1184861.0,243.0,1.0,1.420794e+09,3.0,False,False,2015-01-09 17:02:14,377345.0,-752488.0
6,115201,2015-01-01 00:00:46,NaN,0,6.295833e+15,7310.0,1008801.0,1.0,1184861.0,243.0,1.0,1.420798e+09,3.0,False,False,2015-01-09 18:09:57,4063.0,-756551.0
7,115201,2015-01-01 00:00:46,NaN,0,2.536229e+15,7107.0,573956.0,1.0,1184861.0,243.0,1.0,1.420849e+09,3.0,False,False,2015-01-10 08:12:25,50548.0,-807099.0
8,115201,2015-01-01 00:00:46,NaN,0,5.350411e+15,2000.0,199668.0,2.0,1184861.0,243.0,1.0,1.420850e+09,3.0,False,False,2015-01-10 08:31:12,1127.0,-808226.0
9,115201,2015-01-01 00:00:46,NaN,0,9.055265e+15,9005.0,1008801.0,1.0,1184861.0,243.0,1.0,1.420889e+09,3.0,False,False,2015-01-10 19:22:33,39081.0,-847307.0
10,115201,2015-01-01 00:00:46,NaN,0,3.152954e+15,7713.0,573956.0,1.0,1184861.0,243.0,1.0,1.420938e+09,3.0,False,False,2015-01-11 09:03:59,49286.0,-896593.0
11,115201,2015-01-01 00:00:46,NaN,0,5.486893e+16,7649.0,1008801.0,1.0,1184861.0,243.0,31.0,1.420971e+09,3.0,False,False,2015-01-11 18:03:09,32350.0,-928943.0
12,115201,2015-01-01 00:00:46,NaN,0,2.979352e+16,10451.0,1008801.0,1.0,1184861.0,243.0,1.0,1.420971e+09,3.0,False,False,2015-01-11 18:03:12,3.0,-928946.0
13,115201,2015-01-01 00:00:46,NaN,0,6.675541e+15,11190.0,573956.0,1.0,1184861.0,243.0,1.0,1.421032e+09,3.0,False,False,2015-01-12 11:07:11,61439.0,-990385.0
14,115201,2015-01-01 00:00:46,NaN,0,6.539725e+15,6645.0,573956.0,1.0,1184861.0,243.0,1.0,1.421117e+09,3.0,False,False,2015-01-13 10:40:47,84816.0,-1075201.0
15,115201,2015-01-01 00:00:46,NaN,0,5.956864e+15,5782.0,573956.0,1.0,1184861.0,243.0,1.0,1.421168e+09,3.0,False,False,2015-01-14 00:45:48,50701.0,-1125902.0
16,115201,2015-01-01 00:00:46,NaN,0,8.959693e+15,40478.0,1008801.0,1.0,684901.0,243.0,1.0,1.421320e+09,3.0,False,False,2015-01-15 19:05:18,152370.0,-1278272.0
17,115201,2015-01-01 00:00:46,NaN,0,9.692257e+14,6566.0,1008801.0,1.0,684901.0,243.0,1.0,1.421580e+09,3.0,False,False,2015-01-18 19:28:02,260564.0,-1538836.0
18,115201,2015-01-01 00:00:46,NaN,0,1.157455e+16,14416.0,573956.0,1.0,711878.0,243.0,1.0,1.424077e+09,3.0,False,False,2015-02-16 16:49:00,2496058.0,-4034894.0
19,115201,2015-01-01 00:00:46,NaN,0,5.069056e+15,7654.0,573956.0,1.0,553466.0,243.0,1.0,1.424698e+09,3.0,False,False,2015-02-23 21:30:14,621674.0,-4656568.0
20,115201,2015-01-01 00:00:46,NaN,0,7.431719e+15,19937.0,573956.0,1.0,691374.0,243.0,31.0,1.428724e+09,3.0,False,False,2015-04-11 11:53:48,4026214.0,-8682782.0
21,115201,2015-01-01 00:00:46,NaN,0,5.269801e+15,24483.0,573956.0,1.0,691374.0,243.0,1.0,1.428724e+09,3.0,False,False,2015-04-11 11:53:53,5.0,-8682787.0
22,143711,2015-01-01 00:01:02,NaN,0,5.306173e+15,2000.0,336880.0,2.0,474079.0,194.0,1.0,1.420077e+09,3.0,False,False,2015-01-01 09:46:08,NaN,-35106.0
23,143711,2015-01-01 00:01:02,NaN,0,4.920359e+16,4.0,705591.0,10.0,1046908.0,194.0,1.0,1.422695e+09,1.0,True,False,2015-01-31 17:04:37,2618309.0,-2653415.0
24,143711,2015-01-01 00:01:02,NaN,0,2.013185e+16,5.0,705591.0,10.0,607056.0,194.0,1.0,1.422756e+09,1.0,True,False,2015-02-01 10:00:31,60954.0,-2714369.0
25,172699,2015-01-01 00:03:00,NaN,0,8.807073e+15,5272.0,98787.0,1.0,1141169.0,484.0,1.0,1.420074e+09,3.0,False,False,2015-01-01 09:05:22,NaN,-32542.0
26,172699,2015-01-01 00:03:00,NaN,0,1.963952e+16,4431.0,98787.0,1.0,1141169.0,484.0,1.0,1.420074e+09,3.0,False,False,2015-01-01 09:06:06,44.0,-32586.0
27,172699,2015-01-01 00:03:00,NaN,0,2.047125e+16,7655.0,98787.0,1.0,698034.0,484.0,1.0,1.420165e+09,3.0,False,False,2015-01-02 10:17:30,90684.0,-123270.0
28,172699,2015-01-01 00:03:00,NaN,0,9.098962e+15,7551.0,98787.0,1.0,698034.0,484.0,1.0,1.420168e+09,3.0,False,False,2015-01-02 11:01:32,2642.0,-125912.0
29,172699,2015-01-01 00:03:00,NaN,0,4.572169e+15,7733.0,565115.0,1.0,817430.0,484.0,1.0,1.420246e+09,3.0,False,False,2015-01-03 08:39:57,77905.0,-203817.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7882748,106040,2015-06-30 23:51:08,529784.0,0,3.241951e+15,21622.0,774557.0,1.0,912482.0,21.0,1.0,1.435027e+09,1.0,False,False,2015-06-23 10:35:36,64071.0,652532.0
7882749,106040,2015-06-30 23:51:08,529784.0,0,4.220692e+16,106395.0,774557.0,1.0,176762.0,21.0,1.0,1.435286e+09,1.0,False,False,2015-06-26 10:34:18,259122.0,393410.0
7882750,106040,2015-06-30 23:51:08,529784.0,0,1.579494e+16,14751.0,774557.0,1.0,1361800.0,21.0,1.0,1.435392e+09,1.0,False,False,2015-06-27 15:57:21,105783.0,287627.0
7882751,106040,2015-06-30 23:51:08,529784.0,0,6.025338e+15,39006.0,774557.0,1.0,799346.0,21.0,1.0,1.435553e+09,1.0,False,False,2015-06-29 12:38:16,160855.0,126772.0
7882752,72429,2015-06-30 23:53:19,227.0,0,1.880674e+16,3404.0,640009.0,1.0,1030127.0,63.0,1.0,1.420887e+09,1.0,False,False,2015-01-10 18:46:07,NaN,14792832.0
7882753,72429,2015-06-30 23:53:19,227.0,0,3.578894e+14,1000.0,972802.0,2.0,1392037.0,63.0,1.0,1.421627e+09,1.0,False,False,2015-01-19 08:25:59,740392.0,14052440.0
7882754,72429,2015-06-30 23:53:19,227.0,0,4.213112e+16,1000.0,972802.0,2.0,158085.0,63.0,1.0,1.421849e+09,1.0,False,False,2015-01-21 21:59:51,221632.0,13830808.0
7882755,72429,2015-06-30 23:53:19,227.0,0,8.043138e+15,2000.0,835072.0,2.0,1103057.0,207.0,31.0,1.422139e+09,3.0,False,False,2015-01-25 06:33:07,289996.0,13540812.0
7882756,72429,2015-06-30 23:53:19,227.0,0,5.634692e+15,5.0,1070870.0,10.0,247077.0,63.0,1.0,1.423720e+09,1.0,True,False,2015-02-12 13:52:09,1581542.0,11959270.0
7882757,72429,2015-06-30 23:53:19,227.0,0,2.057768e+16,5.0,128123.0,10.0,498512.0,63.0,1.0,1.425454e+09,1.0,True,False,2015-03-04 15:26:08,1733639.0,10225631.0
7882758,72429,2015-06-30 23:53:19,227.0,0,4.943019e+16,6.0,208500.0,10.0,192431.0,63.0,1.0,1.427074e+09,1.0,True,False,2015-03-23 09:19:28,1619600.0,8606031.0
7882759,72429,2015-06-30 23:53:19,227.0,0,3.302310e+16,7.0,1029001.0,10.0,946193.0,63.0,1.0,1.429080e+09,1.0,True,False,2015-04-15 14:36:06,2006198.0,6599833.0
7882760,72429,2015-06-30 23:53:19,227.0,0,4.533906e+15,111609.0,78816.0,1.0,1116828.0,63.0,1.0,1.429345e+09,1.0,False,False,2015-04-18 16:11:13,264907.0,6334926.0
7882761,72429,2015-06-30 23:53:19,227.0,0,5.481664e+14,2456.0,78816.0,1.0,1116828.0,63.0,1.0,1.429349e+09,1.0,False,False,2015-04-18 17:24:09,4376.0,6330550.0
7882762,72429,2015-06-30 23:53:19,227.0,0,3.475040e+14,7000.0,972802.0,2.0,491814.0,63.0,1.0,1.429891e+09,1.0,False,False,2015-04-24 23:54:53,541844.0,5788706.0
7882763,72429,2015-06-30 23:53:19,227.0,0,2.303187e+16,3594.0,541548.0,1.0,509207.0,63.0,1.0,1.429945e+09,1.0,False,False,2015-04-25 14:59:46,54293.0,5734413.0
7882764,72429,2015-06-30 23:53:19,227.0,0,4.831345e+16,2847.0,47490.0,1.0,509207.0,63.0,1.0,1.429956e+09,1.0,False,False,2015-04-25 17:53:06,10400.0,5724013.0
7882765,72429,2015-06-30 23:53:19,227.0,0,6.624494e+15,2752.0,1037528.0,1.0,509207.0,63.0,1.0,1.430041e+09,1.0,False,False,2015-04-26 17:41:12,85686.0,5638327.0
7882766,72429,2015-06-30 23:53:19,227.0,0,8.401841e+15,3091.0,484206.0,1.0,509207.0,63.0,1.0,1.430044e+09,1.0,False,False,2015-04-26 18:30:00,2928.0,5635399.0
7882767,72429,2015-06-30 23:53:19,227.0,0,4.595826e+15,3247.0,1031212.0,1.0,826001.0,63.0,1.0,1.430371e+09,1.0,False,False,2015-04-30 13:24:35,327275.0,5308124.0
7882768,72429,2015-06-30 23:53:19,227.0,0,1.855948e+16,2669.0,1031212.0,1.0,826001.0,63.0,1.0,1.430376e+09,1.0,False,False,2015-04-30 14:42:38,4683.0,5303441.0
7882769,72429,2015-06-30 23:53:19,227.0,0,3.428117e+16,3216.0,600598.0,1.0,1503776.0,63.0,1.0,1.430809e+09,1.0,False,False,2015-05-05 14:49:02,432384.0,4871057.0
7882770,72429,2015-06-30 23:53:19,227.0,0,5.758897e+15,2648.0,697107.0,1.0,1503776.0,63.0,1.0,1.430890e+09,1.0,False,False,2015-05-06 13:33:17,81855.0,4789202.0
7882771,72429,2015-06-30 23:53:19,227.0,0,8.760349e+14,12848.0,303983.0,1.0,669781.0,63.0,1.0,1.433240e+09,1.0,False,False,2015-06-02 18:13:16,2349599.0,2439603.0
7882772,72429,2015-06-30 23:53:19,227.0,0,9.697298e+15,1000.0,167587.0,2.0,543692.0,63.0,1.0,1.433254e+09,1.0,False,False,2015-06-02 22:04:35,13879.0,2425724.0
7882773,72429,2015-06-30 23:53:19,227.0,0,2.832599e+16,6926.0,303983.0,1.0,1527241.0,63.0,1.0,1.433814e+09,1.0,False,False,2015-06-09 09:44:00,560365.0,1865359.0
7882774,72429,2015-06-30 23:53:19,227.0,0,3.246055e+15,5922.0,303983.0,1.0,1404244.0,63.0,1.0,1.434447e+09,1.0,False,False,2015-06-16 17:32:07,632887.0,1232472.0
7882775,72429,2015-06-30 23:53:19,227.0,0,3.302896e+16,1758.0,303983.0,1.0,825187.0,63.0,1.0,1.434514e+09,1.0,False,False,2015-06-17 12:14:44,67357.0,1165115.0
7882776,72429,2015-06-30 23:53:19,227.0,0,5.896131e+15,2810.0,303983.0,1.0,1009730.0,508.0,-2.0,1.435550e+09,1.0,False,False,2015-06-29 11:58:32,1035828.0,129287.0
7882777,72429,2015-06-30 23:53:19,227.0,0,4.665831e+15,6.0,303983.0,10.0,1009730.0,508.0,-4.0,1.435550e+09,1.0,True,False,2015-06-29 11:59:07,35.0,129252.0

In [73]:
login_trade_train['login_trade_diff'] = login_trade_train['login_trade_diff'] / (3600 * 24)
login_trade_train = login_trade_train[(login_trade_train['login_trade_diff'] >= 0)  & (login_trade_train['login_trade_diff'] <=7)]
login_trade_train['login_trade_diff'] = login_trade_train['login_trade_diff'].astype('int')
login_trade_train

,id,trade_time,trade_time_diff,is_risk,log_id,timelong,device,log_from,ip,city,result,timestamp,type,is_scan,is_sec,login_time,time_diff,login_trade_diff
452,157472,2015-01-01 00:48:11,NaN,0,8.073763e+15,3000.0,851335.0,2.0,111975.0,270.0,1.0,1.420043e+09,3.0,False,False,2015-01-01 00:26:18,NaN,0
459,164198,2015-01-01 00:50:41,NaN,0,1.363957e+16,4000.0,916969.0,2.0,1037643.0,59.0,31.0,1.420043e+09,1.0,False,False,2015-01-01 00:16:38,NaN,0
460,164198,2015-01-01 00:50:41,NaN,0,3.685806e+14,2000.0,916969.0,2.0,1037643.0,59.0,31.0,1.420043e+09,2.0,False,False,2015-01-01 00:17:14,36.0,0
461,164198,2015-01-01 00:50:41,NaN,0,1.492859e+15,5000.0,916969.0,2.0,1037643.0,59.0,31.0,1.420043e+09,3.0,False,False,2015-01-01 00:17:30,16.0,0
462,164198,2015-01-01 00:50:41,NaN,0,3.019479e+16,2000.0,916969.0,2.0,1037643.0,59.0,31.0,1.420043e+09,3.0,False,False,2015-01-01 00:17:31,1.0,0
463,164198,2015-01-01 00:50:41,NaN,0,4.638975e+15,1000.0,916969.0,2.0,1037643.0,59.0,31.0,1.420043e+09,3.0,False,False,2015-01-01 00:17:32,1.0,0
464,164198,2015-01-01 00:50:41,NaN,0,6.661234e+14,2000.0,916969.0,2.0,1037643.0,59.0,1.0,1.420043e+09,2.0,False,False,2015-01-01 00:20:34,182.0,0
485,87482,2015-01-01 01:05:47,NaN,0,7.108786e+14,25153.0,902476.0,1.0,1364299.0,438.0,1.0,1.420045e+09,3.0,False,False,2015-01-01 01:02:57,NaN,0
497,64543,2015-01-01 01:05:55,NaN,0,6.102605e+15,8508.0,568017.0,1.0,96751.0,78.0,31.0,1.420045e+09,1.0,False,False,2015-01-01 00:56:00,NaN,0
498,64543,2015-01-01 01:05:55,NaN,0,5.972875e+15,13687.0,568017.0,1.0,96751.0,78.0,1.0,1.420045e+09,1.0,False,False,2015-01-01 00:56:05,5.0,0
829,48831,2015-01-01 02:06:44,NaN,0,9.619780e+15,24850.0,993797.0,1.0,763176.0,295.0,1.0,1.420042e+09,3.0,False,False,2015-01-01 00:13:32,NaN,0
830,48831,2015-01-01 02:06:44,NaN,0,3.904481e+16,2000.0,697447.0,2.0,763176.0,295.0,1.0,1.420043e+09,3.0,False,False,2015-01-01 00:26:10,758.0,0
831,48831,2015-01-01 02:06:44,NaN,0,8.429435e+15,3000.0,697447.0,2.0,763176.0,295.0,1.0,1.420048e+09,3.0,False,False,2015-01-01 01:51:18,5108.0,0
1211,18138,2015-01-01 03:02:01,NaN,1,8.379107e+15,3000.0,835072.0,2.0,489783.0,44.0,1.0,1.420048e+09,3.0,False,False,2015-01-01 01:41:13,NaN,0
1212,18138,2015-01-01 03:02:01,NaN,1,5.612790e+15,22900.0,38853.0,1.0,1209900.0,471.0,1.0,1.420051e+09,3.0,False,False,2015-01-01 02:38:52,3459.0,0
1213,18138,2015-01-01 03:02:01,NaN,1,5.175043e+15,9000.0,835072.0,2.0,724987.0,418.0,1.0,1.420052e+09,3.0,False,False,2015-01-01 02:59:24,1232.0,0
1275,18138,2015-01-01 03:03:24,83.0,1,8.379107e+15,3000.0,835072.0,2.0,489783.0,44.0,1.0,1.420048e+09,3.0,False,False,2015-01-01 01:41:13,NaN,0
1276,18138,2015-01-01 03:03:24,83.0,1,5.612790e+15,22900.0,38853.0,1.0,1209900.0,471.0,1.0,1.420051e+09,3.0,False,False,2015-01-01 02:38:52,3459.0,0
1277,18138,2015-01-01 03:03:24,83.0,1,5.175043e+15,9000.0,835072.0,2.0,724987.0,418.0,1.0,1.420052e+09,3.0,False,False,2015-01-01 02:59:24,1232.0,0
1339,18138,2015-01-01 03:05:36,132.0,0,8.379107e+15,3000.0,835072.0,2.0,489783.0,44.0,1.0,1.420048e+09,3.0,False,False,2015-01-01 01:41:13,NaN,0
1340,18138,2015-01-01 03:05:36,132.0,0,5.612790e+15,22900.0,38853.0,1.0,1209900.0,471.0,1.0,1.420051e+09,3.0,False,False,2015-01-01 02:38:52,3459.0,0
1341,18138,2015-01-01 03:05:36,132.0,0,5.175043e+15,9000.0,835072.0,2.0,724987.0,418.0,1.0,1.420052e+09,3.0,False,False,2015-01-01 02:59:24,1232.0,0
1403,18138,2015-01-01 03:06:38,62.0,1,8.379107e+15,3000.0,835072.0,2.0,489783.0,44.0,1.0,1.420048e+09,3.0,False,False,2015-01-01 01:41:13,NaN,0
1404,18138,2015-01-01 03:06:38,62.0,1,5.612790e+15,22900.0,38853.0,1.0,1209900.0,471.0,1.0,1.420051e+09,3.0,False,False,2015-01-01 02:38:52,3459.0,0
1405,18138,2015-01-01 03:06:38,62.0,1,5.175043e+15,9000.0,835072.0,2.0,724987.0,418.0,1.0,1.420052e+09,3.0,False,False,2015-01-01 02:59:24,1232.0,0
1482,18138,2015-01-01 03:18:17,699.0,1,8.379107e+15,3000.0,835072.0,2.0,489783.0,44.0,1.0,1.420048e+09,3.0,False,False,2015-01-01 01:41:13,NaN,0
1483,18138,2015-01-01 03:18:17,699.0,1,5.612790e+15,22900.0,38853.0,1.0,1209900.0,471.0,1.0,1.420051e+09,3.0,False,False,2015-01-01 02:38:52,3459.0,0
1484,18138,2015-01-01 03:18:17,699.0,1,5.175043e+15,9000.0,835072.0,2.0,724987.0,418.0,1.0,1.420052e+09,3.0,False,False,2015-01-01 02:59:24,1232.0,0
1792,107099,2015-01-01 07:13:31,NaN,0,3.772364e+15,3000.0,213105.0,2.0,1405815.0,44.0,1.0,1.420067e+09,3.0,False,False,2015-01-01 06:56:47,NaN,0
1804,107099,2015-01-01 07:14:46,75.0,0,3.772364e+15,3000.0,213105.0,2.0,1405815.0,44.0,1.0,1.420067e+09,3.0,False,False,2015-01-01 06:56:47,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7882363,65838,2015-06-30 22:59:17,3304319.0,0,2.175279e+16,5476.0,863370.0,1.0,362832.0,63.0,1.0,1.435117e+09,3.0,False,False,2015-06-24 11:41:24,143993.0,6
7882364,65838,2015-06-30 22:59:17,3304319.0,0,6.070100e+15,8852.0,863370.0,1.0,607592.0,63.0,1.0,1.435646e+09,3.0,False,False,2015-06-30 14:31:02,528578.0,0
7882365,65838,2015-06-30 22:59:17,3304319.0,0,2.624063e+16,6340.0,863370.0,1.0,607592.0,63.0,1.0,1.435655e+09,3.0,False,False,2015-06-30 17:11:12,9610.0,0
7882465,48280,2015-06-30 23:00:55,1382301.0,0,6.221900e+16,8414.0,131832.0,1.0,885176.0,78.0,1.0,1.435116e+09,1.0,False,False,2015-06-24 11:18:14,163752.0,6
7882466,48280,2015-06-30 23:00:55,1382301.0,0,8.573855e+14,11569.0,131832.0,1.0,1065603.0,78.0,1.0,1.435674e+09,1.0,False,False,2015-06-30 22:24:52,558398.0,0
7882485,15112,2015-06-30 23:01:41,7290219.0,0,7.420703e+15,10000.0,765997.0,2.0,642350.0,44.0,31.0,1.435391e+09,3.0,False,False,2015-06-27 15:46:54,6449274.0,3
7882486,15112,2015-06-30 23:01:41,7290219.0,0,1.395635e+16,6000.0,765997.0,2.0,642350.0,44.0,31.0,1.435391e+09,3.0,False,False,2015-06-27 15:47:02,8.0,3
7882487,15112,2015-06-30 23:01:41,7290219.0,0,9.729977e+14,9000.0,765997.0,2.0,642350.0,44.0,31.0,1.435391e+09,3.0,False,False,2015-06-27 15:47:04,2.0,3
7882488,15112,2015-06-30 23:01:41,7290219.0,0,8.385111e+15,6000.0,765997.0,2.0,642350.0,44.0,31.0,1.435391e+09,1.0,False,False,2015-06-27 15:47:24,20.0,3
7882489,15112,2015-06-30 23:01:41,7290219.0,0,1.004302e+16,6000.0,765997.0,2.0,642350.0,44.0,1.0,1.435391e+09,1.0,False,False,2015-06-27 15:47:43,19.0,3
7882511,82440,2015-06-30 23:14:41,602.0,0,4.930741e+16,6000.0,179879.0,2.0,1104876.0,23.0,1.0,1.435111e+09,3.0,False,False,2015-06-24 10:02:55,NaN,6
7882527,152510,2015-06-30 23:17:56,4768876.0,0,6.438581e+15,7000.0,414268.0,2.0,751630.0,253.0,1.0,1.435677e+09,3.0,False,False,2015-06-30 23:14:46,5147642.0,0
7882543,152510,2015-06-30 23:18:12,16.0,0,6.438581e+15,7000.0,414268.0,2.0,751630.0,253.0,1.0,1.435677e+09,3.0,False,False,2015-06-30 23:14:46,5147642.0,0
7882581,82440,2015-06-30 23:32:48,1087.0,0,4.930741e+16,6000.0,179879.0,2.0,1104876.0,23.0,1.0,1.435111e+09,3.0,False,False,2015-06-24 10:02:55,NaN,6
7882594,93970,2015-06-30 23:35:42,2070552.0,0,8.225192e+15,5.0,607506.0,10.0,1430806.0,70.0,1.0,1.435130e+09,1.0,True,False,2015-06-24 15:16:24,429032.0,6
7882595,93970,2015-06-30 23:35:42,2070552.0,0,5.679438e+15,6.0,607506.0,10.0,1478212.0,70.0,1.0,1.435219e+09,1.0,True,False,2015-06-25 16:03:32,89228.0,5
7882596,93970,2015-06-30 23:35:42,2070552.0,0,1.148671e+16,5.0,607506.0,10.0,1154846.0,70.0,1.0,1.435586e+09,1.0,True,False,2015-06-29 21:53:03,366571.0,1
7882597,93970,2015-06-30 23:35:42,2070552.0,0,2.526619e+16,5.0,607506.0,10.0,607803.0,70.0,1.0,1.435674e+09,1.0,True,False,2015-06-30 22:17:14,87851.0,0
7882610,93970,2015-06-30 23:35:43,1.0,0,8.225192e+15,5.0,607506.0,10.0,1430806.0,70.0,1.0,1.435130e+09,1.0,True,False,2015-06-24 15:16:24,429032.0,6
7882611,93970,2015-06-30 23:35:43,1.0,0,5.679438e+15,6.0,607506.0,10.0,1478212.0,70.0,1.0,1.435219e+09,1.0,True,False,2015-06-25 16:03:32,89228.0,5
7882612,93970,2015-06-30 23:35:43,1.0,0,1.148671e+16,5.0,607506.0,10.0,1154846.0,70.0,1.0,1.435586e+09,1.0,True,False,2015-06-29 21:53:03,366571.0,1
7882613,93970,2015-06-30 23:35:43,1.0,0,2.526619e+16,5.0,607506.0,10.0,607803.0,70.0,1.0,1.435674e+09,1.0,True,False,2015-06-30 22:17:14,87851.0,0
7882620,39176,2015-06-30 23:45:17,NaN,0,3.174092e+15,25276.0,418309.0,1.0,760920.0,194.0,1.0,1.435679e+09,3.0,False,False,2015-06-30 23:36:01,6953440.0,0
7882673,72429,2015-06-30 23:49:32,1037178.0,0,5.896131e+15,2810.0,303983.0,1.0,1009730.0,508.0,-2.0,1.435550e+09,1.0,False,False,2015-06-29 11:58:32,1035828.0,1
7882674,72429,2015-06-30 23:49:32,1037178.0,0,4.665831e+15,6.0,303983.0,10.0,1009730.0,508.0,-4.0,1.435550e+09,1.0,True,False,2015-06-29 11:59:07,35.0,1
7882749,106040,2015-06-30 23:51:08,529784.0,0,4.220692e+16,106395.0,774557.0,1.0,176762.0,21.0,1.0,1.435286e+09,1.0,False,False,2015-06-26 10:34:18,259122.0,4
7882750,106040,2015-06-30 23:51:08,529784.0,0,1.579494e+16,14751.0,774557.0,1.0,1361800.0,21.0,1.0,1.435392e+09,1.0,False,False,2015-06-27 15:57:21,105783.0,3
7882751,106040,2015-06-30 23:51:08,529784.0,0,6.025338e+15,39006.0,774557.0,1.0,799346.0,21.0,1.0,1.435553e+09,1.0,False,False,2015-06-29 12:38:16,160855.0,1
7882776,72429,2015-06-30 23:53:19,227.0,0,5.896131e+15,2810.0,303983.0,1.0,1009730.0,508.0,-2.0,1.435550e+09,1.0,False,False,2015-06-29 11:58:32,1035828.0,1
7882777,72429,2015-06-30 23:53:19,227.0,0,4.665831e+15,6.0,303983.0,10.0,1009730.0,508.0,-4.0,1.435550e+09,1.0,True,False,2015-06-29 11:59:07,35.0,1

In [74]:
login_trade_train['timelong'] = login_trade_train['timelong'].astype('int')
login_trade_train['device'] = login_trade_train['device'].astype('int')
login_trade_train['log_from'] = login_trade_train['log_from'].astype('int')
login_trade_train['city'] = login_trade_train['city'].astype('int')
login_trade_train['result'] = login_trade_train['result'].astype('int')
login_trade_train['type'] = login_trade_train['type'].astype('int')
# login_trade_train['time_diff'] = login_trade_train['time_diff'].astype('int')
login_trade_train[login_trade_train['id'] == 4378]

,id,trade_time,trade_time_diff,is_risk,log_id,timelong,device,log_from,ip,city,result,timestamp,type,is_scan,is_sec,login_time,time_diff,login_trade_diff
2184217,4378,2015-04-18 22:03:56,NaN,0,2.646828e+14,7622,940516,1,466408.0,269,1,1.428923e+09,2,False,False,2015-04-13 19:09:13,162535.0,5
2184218,4378,2015-04-18 22:03:56,NaN,0,5.105352e+15,4133,940516,1,466408.0,269,1,1.428927e+09,2,False,False,2015-04-13 20:13:53,3880.0,5
2184219,4378,2015-04-18 22:03:56,NaN,0,7.667008e+15,9130,940516,1,486138.0,269,1,1.429017e+09,2,False,False,2015-04-14 21:13:04,89951.0,4
2184220,4378,2015-04-18 22:03:56,NaN,0,2.721558e+15,4503,940516,1,486138.0,269,1,1.429093e+09,2,False,False,2015-04-15 18:16:15,75791.0,3
2184221,4378,2015-04-18 22:03:56,NaN,0,3.986903e+16,8618,940516,1,486138.0,269,1,1.429179e+09,2,False,False,2015-04-16 18:10:15,86040.0,2
2184222,4378,2015-04-18 22:03:56,NaN,0,9.813277e+15,7153,156494,1,842156.0,270,1,1.429203e+09,3,False,False,2015-04-17 00:41:58,23503.0,1
2184223,4378,2015-04-18 22:03:56,NaN,0,5.847452e+15,12171,759323,1,1292410.0,269,1,1.429267e+09,3,False,False,2015-04-17 18:37:35,64537.0,1
2184224,4378,2015-04-18 22:03:56,NaN,0,9.964791e+15,9098,72085,1,842156.0,270,1,1.429268e+09,3,False,False,2015-04-17 18:46:06,511.0,1
2184225,4378,2015-04-18 22:03:56,NaN,0,5.473677e+15,20499,422067,1,892367.0,269,1,1.429277e+09,2,False,False,2015-04-17 21:31:26,9920.0,1
2184226,4378,2015-04-18 22:03:56,NaN,0,6.252534e+15,57122,277386,1,1311517.0,269,1,1.429284e+09,2,False,False,2015-04-17 23:26:14,6888.0,0
2184227,4378,2015-04-18 22:03:56,NaN,0,7.040216e+15,7771,940516,1,1311517.0,269,1,1.429366e+09,2,False,False,2015-04-18 22:02:09,81355.0,0
2429689,4378,2015-05-02 21:25:09,1207273.0,0,5.770368e+15,2885,835072,1,1232175.0,485,-2,1.430004e+09,3,False,False,2015-04-26 07:22:34,40672.0,6
2429690,4378,2015-05-02 21:25:09,1207273.0,0,1.474679e+16,4450,940516,1,1273513.0,269,1,1.430055e+09,2,False,False,2015-04-26 21:26:06,50612.0,5
2429691,4378,2015-05-02 21:25:09,1207273.0,0,2.636728e+16,8000,802801,2,734943.0,269,1,1.430121e+09,2,False,False,2015-04-27 15:50:25,66259.0,5
2429692,4378,2015-05-02 21:25:09,1207273.0,0,6.804956e+15,7000,802801,2,734943.0,269,1,1.430121e+09,2,False,False,2015-04-27 15:50:26,1.0,5
2429693,4378,2015-05-02 21:25:09,1207273.0,0,4.887264e+16,5936,940516,1,1273513.0,269,1,1.430129e+09,2,False,False,2015-04-27 17:59:52,7766.0,5
2429694,4378,2015-05-02 21:25:09,1207273.0,0,2.690497e+16,4573,940516,1,1273513.0,269,1,1.430224e+09,2,False,False,2015-04-28 20:33:30,95618.0,4
2429695,4378,2015-05-02 21:25:09,1207273.0,0,9.067943e+15,16359,835072,1,679360.0,243,-2,1.430389e+09,3,False,False,2015-04-30 18:09:45,164175.0,2
2429696,4378,2015-05-02 21:25:09,1207273.0,0,2.716856e+15,4974,940516,1,31304.0,269,1,1.430464e+09,2,False,False,2015-05-01 15:04:19,75274.0,1
2429697,4378,2015-05-02 21:25:09,1207273.0,0,4.026001e+15,5616,940516,1,31304.0,269,1,1.430564e+09,2,False,False,2015-05-02 18:45:44,99685.0,0
2429698,4378,2015-05-02 21:25:09,1207273.0,0,9.962004e+15,17586,1069200,1,831475.0,194,-2,1.430573e+09,3,False,False,2015-05-02 21:22:58,9434.0,0
2429699,4378,2015-05-02 21:25:09,1207273.0,0,5.347551e+14,7214,1069200,1,813807.0,269,1,1.430573e+09,3,False,False,2015-05-02 21:23:58,60.0,0
2429798,4378,2015-05-02 21:25:52,43.0,1,5.770368e+15,2885,835072,1,1232175.0,485,-2,1.430004e+09,3,False,False,2015-04-26 07:22:34,40672.0,6
2429799,4378,2015-05-02 21:25:52,43.0,1,1.474679e+16,4450,940516,1,1273513.0,269,1,1.430055e+09,2,False,False,2015-04-26 21:26:06,50612.0,5
2429800,4378,2015-05-02 21:25:52,43.0,1,2.636728e+16,8000,802801,2,734943.0,269,1,1.430121e+09,2,False,False,2015-04-27 15:50:25,66259.0,5
2429801,4378,2015-05-02 21:25:52,43.0,1,6.804956e+15,7000,802801,2,734943.0,269,1,1.430121e+09,2,False,False,2015-04-27 15:50:26,1.0,5
2429802,4378,2015-05-02 21:25:52,43.0,1,4.887264e+16,5936,940516,1,1273513.0,269,1,1.430129e+09,2,False,False,2015-04-27 17:59:52,7766.0,5
2429803,4378,2015-05-02 21:25:52,43.0,1,2.690497e+16,4573,940516,1,1273513.0,269,1,1.430224e+09,2,False,False,2015-04-28 20:33:30,95618.0,4
2429804,4378,2015-05-02 21:25:52,43.0,1,9.067943e+15,16359,835072,1,679360.0,243,-2,1.430389e+09,3,False,False,2015-04-30 18:09:45,164175.0,2
2429805,4378,2015-05-02 21:25:52,43.0,1,2.716856e+15,4974,940516,1,31304.0,269,1,1.430464e+09,2,False,False,2015-05-01 15:04:19,75274.0,1
2429806,4378,2015-05-02 21:25:52,43.0,1,4.026001e+15,5616,940516,1,31304.0,269,1,1.430564e+09,2,False,False,2015-05-02 18:45:44,99685.0,0
2429807,4378,2015-05-02 21:25:52,43.0,1,9.962004e+15,17586,1069200,1,831475.0,194,-2,1.430573e+09,3,False,False,2015-05-02 21:22:58,9434.0,0
2429808,4378,2015-05-02 21:25:52,43.0,1,5.347551e+14,7214,1069200,1,813807.0,269,1,1.430573e+09,3,False,False,2015-05-02 21:23:58,60.0,0
6001295,4378,2015-04-10 10:00:27,-1941925.0,0,8.564911e+15,3677,835072,1,615396.0,218,-2,1.428372e+09,3,False,False,2015-04-07 09:52:24,1350177.0,3

In [77]:
login_trade_train[login_trade_train['id'] == 4167].sort_values(by='login_time',ascending=True)

,id,trade_time,trade_time_diff,is_risk,log_id,timelong,device,log_from,ip,city,result,timestamp,type,is_scan,is_sec,login_time,time_diff,login_trade_diff
1169003,4167,2015-02-28 22:34:09,2269278.0,0,7.183253e+15,6520,586279,1,1364770.0,364,1,1.425100e+09,2,False,False,2015-02-28 13:08:58,NaN,0
5159333,4167,2015-02-28 13:14:58,-8714066.0,0,7.183253e+15,6520,586279,1,1364770.0,364,1,1.425100e+09,2,False,False,2015-02-28 13:08:58,NaN,0
1768111,4167,2015-03-28 14:32:20,1294464.0,0,6.592577e+15,5790,586279,1,1364770.0,364,1,1.427524e+09,2,False,False,2015-03-28 14:29:14,2424016.0,0
1896442,4167,2015-04-04 15:53:39,609679.0,0,6.677142e+15,5999,586279,1,1364770.0,364,1,1.428134e+09,2,False,False,2015-04-04 15:52:28,609794.0,0
6150314,4167,2015-04-17 19:50:46,353136.0,0,2.109843e+16,3671,586279,1,1364770.0,364,1,1.428918e+09,2,False,False,2015-04-13 17:41:04,784116.0,4
6095327,4167,2015-04-13 17:45:10,3817812.0,0,2.109843e+16,3671,586279,1,1364770.0,364,1,1.428918e+09,2,False,False,2015-04-13 17:41:04,784116.0,0
6150315,4167,2015-04-17 19:50:46,353136.0,0,3.861953e+15,8825,586279,1,1364770.0,364,1,1.429271e+09,2,False,False,2015-04-17 19:46:29,353125.0,0
6252915,4167,2015-04-21 23:17:30,358004.0,0,3.861953e+15,8825,586279,1,1364770.0,364,1,1.429271e+09,2,False,False,2015-04-17 19:46:29,353125.0,4
6683643,4167,2015-05-14 21:58:14,1284609.0,1,4.147898e+14,6971,835072,1,736530.0,364,1,1.431244e+09,3,False,False,2015-05-10 15:40:48,1972459.0,4
6683644,4167,2015-05-14 21:58:14,1284609.0,1,2.503633e+16,5767,990551,1,780121.0,364,1,1.431547e+09,3,False,False,2015-05-14 03:52:04,303076.0,0
6683645,4167,2015-05-14 21:58:14,1284609.0,1,6.178476e+15,26246,183927,1,486869.0,364,1,1.431612e+09,3,False,False,2015-05-14 21:57:06,65102.0,0
7226416,4167,2015-06-06 00:01:43,89.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,6
7226266,4167,2015-06-05 23:43:50,39807.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,6
3279692,4167,2015-06-06 00:02:21,15.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,6
7051090,4167,2015-05-31 00:42:46,1392272.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,0
7203454,4167,2015-06-05 12:40:23,474905.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,5
3279664,4167,2015-06-06 00:02:06,102.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,6
7226341,4167,2015-06-06 00:00:14,871.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,6
3279536,4167,2015-06-06 00:00:24,941.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,6
7051174,4167,2015-05-31 00:45:18,152.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,0
3257408,4167,2015-06-05 14:09:35,480189.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,5
7226313,4167,2015-06-05 23:45:43,113.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,6
3137313,4167,2015-05-31 00:46:26,1903703.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,0
3279335,4167,2015-06-05 23:44:43,34508.0,0,1.363081e+16,4000,598340,2,668694.0,180,1,1.432972e+09,1,False,False,2015-05-30 15:54:30,921643.0,6
3279693,4167,2015-06-06 00:02:21,15.0,0,4.939800e+15,6000,653439,2,668694.0,180,1,1.433206e+09,1,False,False,2015-06-02 08:38:43,233053.0,3
7226314,4167,2015-06-05 23:45:43,113.0,0,4.939800e+15,6000,653439,2,668694.0,180,1,1.433206e+09,1,False,False,2015-06-02 08:38:43,233053.0,3
7226267,4167,2015-06-05 23:43:50,39807.0,0,4.939800e+15,6000,653439,2,668694.0,180,1,1.433206e+09,1,False,False,2015-06-02 08:38:43,233053.0,3
7203455,4167,2015-06-05 12:40:23,474905.0,0,4.939800e+15,6000,653439,2,668694.0,180,1,1.433206e+09,1,False,False,2015-06-02 08:38:43,233053.0,3
3257409,4167,2015-06-05 14:09:35,480189.0,0,4.939800e+15,6000,653439,2,668694.0,180,1,1.433206e+09,1,False,False,2015-06-02 08:38:43,233053.0,3
3279537,4167,2015-06-06 00:00:24,941.0,0,4.939800e+15,6000,653439,2,668694.0,180,1,1.433206e+09,1,False,False,2015-06-02 08:38:43,233053.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375571,4167,2015-06-09 09:37:12,2703.0,0,7.599344e+15,4000,309898,2,944655.0,364,1,1.433812e+09,1,False,False,2015-06-09 09:08:58,1271.0,0
3375800,4167,2015-06-09 09:49:24,663.0,0,7.599344e+15,4000,309898,2,944655.0,364,1,1.433812e+09,1,False,False,2015-06-09 09:08:58,1271.0,0
3375599,4167,2015-06-09 09:37:20,8.0,0,7.599344e+15,4000,309898,2,944655.0,364,1,1.433812e+09,1,False,False,2015-06-09 09:08:58,1271.0,0
3375627,4167,2015-06-09 09:38:21,61.0,0,7.599344e+15,4000,309898,2,944655.0,364,1,1.433812e+09,1,False,False,2015-06-09 09:08:58,1271.0,0
7314137,4167,2015-06-09 09:49:37,3804.0,0,7.599344e+15,4000,309898,2,944655.0,364,1,1.433812e+09,1,False,False,2015-06-09 09:08:58,1271.0,0
3375600,4167,2015-06-09 09:37:20,8.0,0,9.452945e+15,5000,653439,2,737796.0,180,1,1.433812e+09,1,False,False,2015-06-09 09:10:07,69.0,0
3375628,4167,2015-06-09 09:38:21,61.0,0,9.452945e+15,5000,653439,2,737796.0,180,1,1.433812e+09,1,False,False,2015-06-09 09:10:07,69.0,0
7314138,4167,2015-06-09 09:49:37,3804.0,0,9.452945e+15,5000,653439,2,737796.0,180,1,1.433812e+09,1,False,False,2015-06-09 09:10:07,69.0,0
3375572,4167,2015-06-09 09:37:12,2703.0,0,9.452945e+15,5000,653439,2,737796.0,180,1,1.433812e+09,1,False,False,2015-06-09 09:10:07,69.0,0
3375801,4167,2015-06-09 09:49:24,663.0,0,9.452945e+15,5000,653439,2,737796.0,180,1,1.433812e+09,1,False,False,2015-06-09 09:10:07,69.0,0
3375601,4167,2015-06-09 09:37:20,8.0,0,1.820655e+16,5000,309898,2,944655.0,364,31,1.433812e+09,1,False,False,2015-06-09 09:10:31,24.0,0
7314139,4167,2015-06-09 09:49:37,3804.0,0,1.820655e+16,5000,309898,2,944655.0,364,31,1.433812e+09,1,False,False,2015-06-09 09:10:31,24.0,0
3375573,4167,2015-06-09 09:37:12,2703.0,0,1.820655e+16,5000,309898,2,944655.0,364,31,1.433812e+09,1,False,False,2015-06-09 09:10:31,24.0,0
3375629,4167,2015-06-09 09:38:21,61.0,0,1.820655e+16,5000,309898,2,944655.0,364,31,1.433812e+09,1,False,False,2015-06-09 09:10:31,24.0,0
3375802,4167,2015-06-09 09:49:24,663.0,0,1.820655e+16,5000,309898,2,944655.0,364,31,1.433812e+09,1,False,False,2015-06-09 09:10:31,24.0,0
3375630,4167,2015-06-09 09:38:21,61.0,0,6.266083e+15,5000,309898,2,944655.0,364,1,1.433812e+09,1,False,False,2015-06-09 09:10:40,9.0,0
3375574,4167,2015-06-09 09:37:12,2703.0,0,6.266083e+15,5000,309898,2,944655.0,364,1,1.433812e+09,1,False,False,2015-06-09 09:10:40,9.0,0
3375803,4167,2015-06-09 09:49:24,663.0,0,6.266083e+15,5000,309898,2,944655.0,364,1,1.433812e+09,1,False,False,2015-06-09 09:10:40,9.0,0
3375602,4167,2015-06-09 09:37:20,8.0,0,6.266083e+15,5000,309898,2,944655.0,364,1,1.433812e+09,1,False,False,2015-06-09 09:10:40,9.0,0
7314140,4167,2015-06-09 09:49:37,3804.0,0,6.266083e+15,5000,309898,2,944655.0,364,1,1.433812e+09,1,False,False,2015-06-09 09:10:40,9.0,0
3375804,4167,2015-06-09 09:49:24,663.0,0,9.110540e+14,5000,653439,2,737796.0,180,1,1.433812e+09,1,False,False,2015-06-09 09:10:55,15.0,0
3375603,4167,2015-06-09 09:37:20,8.0,0,9.110540e+14,5000,653439,2,737796.0,180,1,1.433812e+09,1,False,False,2015-06-09 09:10:55,15.0,0
7314141,4167,2015-06-09 09:49:37,3804.0,0,9.110540e+14,5000,653439,2,737796.0,180,1,1.433812e+09,1,False,False,2015-06-09 09:10:55,15.0,0
3375631,4167,2015-06-09 09:38:21,61.0,0,9.110540e+14,5000,653439,2,737796.0,180,1,1.433812e+09,1,False,False,2015-06-09 09:10:55,15.0,0
3375575,4167,2015-06-09 09:37:12,2703.0,0,9.110540e+14,5000,653439,2,737796.0,180,1,1.433812e+09,1,False,False,2015-06-09 09:10:55,15.0,0
3375576,4167,2015-06-09 09:37:12,2703.0,0,5.939126e+14,5000,598340,2,737796.0,180,1,1.433813e+09,1,False,False,2015-06-09 09:31:39,1244.0,0
3375805,4167,2015-06-09 09:49:24,663.0,0,5.939126e+14,5000,598340,2,737796.0,180,1,1.433813e+09,1,False,False,2015-06-09 09:31:39,1244.0,0
3375604,4167,2015-06-09 09:37:20,8.0,0,5.939126e+14,5000,598340,2,737796.0,180,1,1.433813e+09,1,False,False,2015-06-09 09:31:39,1244.0,0
3375632,4167,2015-06-09 09:38:21,61.0,0,5.939126e+14,5000,598340,2,737796.0,180,1,1.433813e+09,1,False,False,2015-06-09 09:31:39,1244.0,0
7314142,4167,2015-06-09 09:49:37,3804.0,0,5.939126e+14,5000,598340,2,737796.0,180,1,1.433813e+09,1,False,False,2015-06-09 09:31:39,1244.0,0