In [32]:
# -*- encoding:urf-8 -*-
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Handle table like and matrices
import pandas as pd
import numpy as np

# Modeling Helper
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
import missingno as msno

# Configure visualization
%matplotlib inline
mpl.style.use('ggplot')
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 12,8

enterprise_path = 'input/1entbase.csv'
alter_path = 'input/2alter.csv'
branch_path = 'input/3branch.csv'
invest_path = 'input/4invest.csv'
right_path = 'input/5right.csv'
project_path = 'input/6project.csv'
lawsuit_path = 'input/7lawsuit.csv'
breakfaith_path = 'input/8breakfaith.csv'
recruit_path = 'input/9recruit.csv'
train_path = 'input/train.csv'
test_path = 'input/evaluation_public.csv'

train = pd.read_csv(train_path)
test = pd.read_csv(test_path)
enterprise = pd.read_csv(enterprise_path)
invest = pd.read_csv(invest_path)
lawsuit = pd.read_csv(lawsuit_path)
breakfaith = pd.read_csv(breakfaith_path)
recruit = pd.read_csv(recruit_path)

In [33]:
if len(np.intersect1d(test.EID.values,train.EID.values))==0 : print "train and test is distinct" 
print "train size is {}, test size is {}".format(train.shape,test.shape)

train and test is distinct
train size is (153006, 2), test size is (102124, 1)

### Helper Functions

In [41]:
def plot_histograms( df , variables , n_rows , n_cols ):
    fig = plt.figure( figsize = ( 16 , 12 ) )
    for i, var_name in enumerate( variables ):
        ax=fig.add_subplot( n_rows , n_cols , i+1 )
        df[ var_name ].hist( bins=10 , ax=ax )
        ax.set_title( 'Skew: ' + str( round( float( df[ var_name ].skew() ) , ) ) ) # + ' ' + var_name ) #var_name+" Distribution")
        ax.set_xticklabels( [] , visible=False )
        ax.set_yticklabels( [] , visible=False )
    fig.tight_layout()  # Improves appearance a bit.
    plt.show()

def plot_distribution( df , var , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , hue=target , aspect=4 , row = row , col = col )
    facet.map( sns.kdeplot , var , shade= True )
    facet.set( xlim=( 0 , df[ var ].max() ) )
    facet.add_legend()

def plot_categories( df , cat , target , **kwargs ):
    row = kwargs.get( 'row' , None )
    col = kwargs.get( 'col' , None )
    facet = sns.FacetGrid( df , row = row , col = col )
    facet.map( sns.barplot , cat , target )
    facet.add_legend()

def plot_correlation_map( df ):
    corr = titanic.corr()
    _ , ax = plt.subplots( figsize =( 12 , 10 ) )
    cmap = sns.diverging_palette( 220 , 10 , as_cmap = True )
    _ = sns.heatmap(
        corr, 
        cmap = cmap,
        square=True, 
        cbar_kws={ 'shrink' : .9 }, 
        ax=ax, 
        annot = True, 
        annot_kws = { 'fontsize' : 12 }
    )

def describe_more( df ):
    var = [] ; l = [] ; t = []
    for x in df:
        var.append( x )
        l.append( len( pd.value_counts( df[ x ] ) ) )
        t.append( df[ x ].dtypes )
    levels = pd.DataFrame( { 'Variable' : var , 'Levels' : l , 'Datatype' : t } )
    levels.sort_values( by = 'Levels' , inplace = True )
    return levels

def plot_variable_importance( X , y ):
    tree = DecisionTreeClassifier( random_state = 99 )
    tree.fit( X , y )
    plot_model_var_imp( tree , X , y )
    
def plot_model_var_imp( model , X , y ):
    imp = pd.DataFrame( 
        model.feature_importances_  , 
        columns = [ 'Importance' ] , 
        index = X.columns 
    )
    imp = imp.sort_values( [ 'Importance' ] , ascending = True )
    imp[ : 10 ].plot( kind = 'barh' )
    print (model.score( X , y ))

#### 训练集中的0,1分布

In [34]:
train.TARGET.value_counts()

0    123914
1     29092
Name: TARGET, dtype: int64

#### 观测项目和被执行数据
##### 观测项目

In [39]:
breakfaith

         EID   TYPECODE     FBDATE SXENDDATE
0      10751    1270862   2015/3/1       NaN
1      10751    1271420   2015/3/1       NaN
2      10751   66052879   2015/3/1       NaN
3      10751   66062576   2015/3/1       NaN
4      26642     289401   2014/8/1       NaN
5      26642   83521583   2014/8/1       NaN
6      28204     536301   2014/9/1       NaN
7      28204   81307437   2014/9/1       NaN
8      66085     812594  2014/12/1       NaN
9      66085   91060948  2014/12/1       NaN
10     71306    1445714   2015/4/1       NaN
11     80938     908218  2014/12/1       NaN
12     80938   89072934  2014/12/1       NaN
13    102327     162694   2014/6/1       NaN
14    102327   80348889   2014/6/1       NaN
15    113907    1045611   2015/1/1       NaN
16    113907    1498704   2015/4/1       NaN
17    113907    1497269   2015/4/1       NaN
18    113907   65987607   2015/1/1       NaN
19    113907   15085743   2015/4/1       NaN
20    113907   34215156   2015/4/1       NaN
21    121661     814305  2014/12/1       NaN
22    121661    1140188   2015/1/1       NaN
23    121661    1140186   2015/1/1       NaN
24    121661   91829726   2015/1/1       NaN
25    121661   79306052  2014/12/1       NaN
26    130905     241038   2014/8/1  2015/7/1
27    144254     171410   2014/6/1       NaN
28    144254   80110640   2014/6/1       NaN
29    145588     744339  2014/11/1       NaN
...      ...        ...        ...       ...
3627  297586   83521547   2014/9/1       NaN
3628  315636    1544603   2015/5/1       NaN
3629  315636   91745553   2015/5/1       NaN
3630  340629    1254502   2015/3/1       NaN
3631  340629   66051254   2015/3/1       NaN
3632  353779     215399   2014/8/1       NaN
3633  353779     206618   2014/8/1       NaN
3634  355051    2144333   2015/7/1       NaN
3635  355051  103423790   2015/7/1       NaN
3636  360476    2299353   2015/8/1       NaN
3637  376460    1099667   2015/1/1       NaN
3638  376460   41032652   2015/1/1       NaN
3639  395468     607794  2014/10/1       NaN
3640  395468   79310276  2014/10/1       NaN
3641  397402    1678556   2015/5/1       NaN
3642  397402   80147922   2015/5/1       NaN
3643  408938    1587266   2015/5/1       NaN
3644  421329    1568376   2015/5/1       NaN
3645  421329   96485957   2015/5/1       NaN
3646  424319     921889  2014/12/1       NaN
3647  446138     891423  2014/12/1       NaN
3648  446138   92564132  2014/12/1       NaN
3649  460609     651551  2014/11/1  2015/7/1
3650  465431    1084841   2015/1/1       NaN
3651  465431   66054513   2015/1/1       NaN
3652  466007    1254431   2015/3/1       NaN
3653  466007      20087  2013/10/1       NaN
3654  466007   38065041   2015/3/1       NaN
3655  466007   23735958  2013/10/1       NaN
3656  505302     187004   2014/6/1  2015/7/1

[3657 rows x 4 columns]

In [40]:
lawsuit

          EID   TYPECODE     LAWDATE  LAWAMOUNT
0        5986  104115771  2015-07-01       2700
1        5986   83486760  2014-06-01      88500
2        5986   76450675  2014-02-01    1202100
3        5986   97776391  2014-06-01      88500
4        5986   85054730  2014-02-01    1202100
5       10644   61087058  2012-12-01      90000
6       10751   66079746  2012-09-01          0
7       10751   60815833  2013-02-01     258500
8       12168   76452868  2014-03-01      41100
9       12168   81336086  2014-03-01      41100
10      13431   42254671  2012-09-01      21600
11      13431   83561244  2014-04-01     200000
12      13431   73357726  2013-08-01      18000
13      14959   85043621  2014-03-01    3039000
14      14959   97806410  2014-03-01    3039000
15      14959   76432132  2014-03-01    3039000
16      22341  101655092  2015-05-01    2238200
17      22781   91782793  2014-06-01       3000
18      22781   81460313  2014-06-01       3000
19      22781   80142338  2014-05-01      67300
20      22781   97811431  2014-05-01      67300
21      22781   91781045  2014-05-01      67300
22      26642   91873800  2014-07-01     187700
23      28204   75060063  2014-02-01       9100
24      28204   75060065  2014-02-01       7700
25      28204   81307429  2014-02-01       9100
26      28204   81307437  2014-02-01       7700
27      28446   79323528  2014-04-01     697900
28      28446   91726608  2014-04-01      12500
29      28446   91726605  2014-04-01       5200
...       ...        ...         ...        ...
25513  510402   87811190  2014-09-01      25500
25514  522570  101687277  2015-01-01      21600
25515  523536   61144839  2013-03-01       1900
25516  523536   61145652  2013-03-01       2400
25517  523536   61145099  2013-03-01       2100
25518  523536   61143775  2013-03-01       2000
25519  523536   61143875  2013-03-01       1700
25520  523536   61143629  2013-03-01       1900
25521  523536   61143509  2013-03-01       1500
25522  523536   61143193  2013-03-01       2100
25523  523536   61146040  2013-03-01       1800
25524  523536   61144999  2013-03-01       2300
25525  523536   61143997  2013-03-01       1900
25526  523536   61145217  2013-03-01       1900
25527  523536   61145391  2013-03-01       2200
25528  523536   61145788  2013-03-01       2400
25529  523536   61145530  2013-03-01       2400
25530  523536  109148157  2015-03-01       1200
25531  523536   99273355  2015-03-01       4500
25532  523536   99273348  2015-03-01        200
25533  523536   66083022  2013-02-01      25300
25534  523536  109149616  2015-03-01       2100
25535  523536   99273350  2015-03-01       2100
25536  523536   99273235  2015-03-01       1200
25537  523536  108979355  2015-03-01       4500
25538  523536  109149627  2015-03-01       5600
25539  523536  109149606  2015-03-01        200
25540  523536  109149641  2015-03-01       2800
25541  523536   99273353  2015-03-01       5600
25542  523536   99273358  2015-03-01       2800

[25543 rows x 4 columns]

In [37]:
train = pd.merge(train, enterprise, on='EID',how='left')
test = pd.merge(test, enterprise, on='EID',how='left')
# train = pd.merge(train, breakfaith, on='EID',how='left')
# test = pd.merge(test, breakfaith, on='EID',how='left')
train

,EID,TARGET,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM
0,309,0,2001,87,10.0,17,NaN,2.0,NaN,0.0,NaN
1,356,0,2011,50,100.0,7,NaN,1.0,NaN,0.0,NaN
2,383,0,1999,43,3.0,17,1.0,2.0,NaN,1.0,NaN
3,399,0,2011,75,50.0,7,1.0,1.0,NaN,0.0,NaN
4,619,0,2008,74,200.0,7,NaN,2.0,NaN,0.0,NaN
5,724,0,2007,51,3.0,8,NaN,1.0,NaN,0.0,NaN
6,926,1,2015,75,500.0,7,6.0,2.0,NaN,5.0,NaN
7,977,0,2015,79,50.0,7,4.0,2.0,NaN,2.0,NaN
8,1330,0,2002,80,30.0,17,1.0,2.0,NaN,1.0,NaN
9,1382,1,2014,72,2000.0,7,4.0,3.0,1000.000000,0.0,NaN
10,1502,1,2015,51,500.0,7,3.0,1.0,NaN,1.0,NaN
11,1689,0,1999,80,300.0,7,1.0,2.0,NaN,1.0,NaN
12,1854,0,2009,75,100.0,7,1.0,2.0,NaN,2.0,NaN
13,1963,1,2009,75,50.0,7,NaN,2.0,NaN,2.0,NaN
14,2116,0,2012,70,1000.0,7,1.0,1.0,NaN,0.0,NaN
15,2223,0,2014,72,1000.0,7,2.0,2.0,NaN,2.0,NaN
16,2235,0,2000,81,200.0,7,NaN,2.0,NaN,2.0,NaN
17,2335,0,2003,61,70.0,17,NaN,2.0,NaN,0.0,NaN
18,2377,0,2011,72,3.0,8,NaN,1.0,NaN,0.0,NaN
19,2386,1,2010,51,3.0,8,NaN,1.0,NaN,0.0,NaN
20,2480,0,1994,70,13000.0,5,NaN,2.0,NaN,0.0,NaN
21,2605,0,2011,75,10.0,7,1.0,1.0,NaN,0.0,NaN
22,2667,0,2015,74,500.0,7,1.0,2.0,NaN,2.0,NaN
23,2863,0,2014,75,1500.0,6,10.0,1.0,13031.792537,6.0,NaN
24,2922,0,2011,51,500.0,7,4.0,2.0,NaN,4.0,NaN
25,3102,0,2005,75,560.0,7,4.0,6.0,NaN,0.0,NaN
26,3160,0,1998,51,140.0,13,NaN,1.0,6015.000000,28.0,NaN
27,3311,1,2008,50,650.0,7,3.0,1.0,NaN,3.0,NaN
28,3324,0,2012,75,220.0,7,1.0,9.0,20000.000000,71.0,NaN
29,3363,0,1998,89,10.0,7,1.0,3.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
152976,522552,0,2005,71,10.0,7,NaN,2.0,NaN,0.0,NaN
152977,522599,0,2009,13,110.0,6,1.0,4.0,NaN,6.0,NaN
152978,522819,0,2015,72,100.0,7,NaN,2.0,NaN,0.0,NaN
152979,522842,0,2006,51,200.0,7,1.0,1.0,NaN,0.0,NaN
152980,522942,0,2011,75,100.0,7,1.0,2.0,NaN,17.0,NaN
152981,523044,0,2014,75,50.0,7,NaN,1.0,NaN,0.0,NaN
152982,523133,0,2014,75,1200.0,7,NaN,3.0,NaN,0.0,NaN
152983,523149,0,2003,75,50.0,7,NaN,2.0,NaN,1.0,NaN
152984,523177,0,2009,34,100.0,17,1.0,3.0,101.000000,2.0,NaN
152985,523368,0,2012,75,6.0,7,NaN,2.0,NaN,0.0,NaN
152986,523402,0,2006,51,100.0,7,2.0,2.0,NaN,0.0,NaN
152987,523536,1,1996,70,1000.0,6,11.0,4.0,15060.000000,6.0,NaN
152988,523636,0,2011,74,50.0,7,1.0,2.0,NaN,4.0,NaN
152989,523798,0,2015,86,1000.0,7,2.0,2.0,NaN,5.0,NaN
152990,523800,0,2010,75,3300.0,7,NaN,4.0,NaN,3.0,NaN
152991,523904,0,2010,52,100.0,6,NaN,2.0,NaN,6.0,NaN
152992,524172,0,2014,47,500.0,7,NaN,3.0,NaN,2.0,NaN
152993,524406,0,2000,75,5.0,17,1.0,2.0,NaN,0.0,NaN
152994,524593,0,2009,87,100.0,7,7.0,2.0,NaN,9.0,NaN
152995,524600,0,2013,75,130.0,7,1.0,3.0,NaN,1.0,NaN
152996,524698,0,2013,65,1000.0,7,NaN,1.0,NaN,1.0,NaN
152997,524953,0,2013,51,300.0,7,3.0,1.0,NaN,3.0,NaN
152998,525301,0,2000,52,100.0,7,3.0,1.0,NaN,0.0,NaN
152999,525408,0,2008,72,5000.0,6,4.0,7.0,30000.000000,3.0,NaN
153000,525546,0,2012,52,200.0,7,1.0,2.0,NaN,2.0,NaN
153001,525589,0,2015,72,2000.0,7,NaN,1.0,NaN,1.0,NaN
153002,525682,0,2013,52,50.0,7,NaN,1.0,NaN,0.0,NaN
153003,525962,0,2012,75,10.0,7,2.0,1.0,NaN,2.0,NaN
153004,526016,0,2009,75,3000.0,7,1.0,2.0,NaN,1146.0,NaN
153005,526110,0,2001,51,10.0,17,NaN,2.0,NaN,1.0,NaN

In [31]:
test

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,TYPECODE,FBDATE,SXENDDATE
0,350,2010,75,100.0,6,6.0,2.0,20000.00,26.0,NaN,NaN,NaN,NaN
1,562,2015,74,100.0,7,5.0,2.0,NaN,5.0,NaN,NaN,NaN,NaN
2,632,2014,75,100.0,7,2.0,3.0,NaN,22.0,NaN,NaN,NaN,NaN
3,750,2012,52,200.0,17,1.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN
4,823,2014,72,100.0,7,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN
5,876,2013,83,10.0,16,NaN,2.0,NaN,0.0,NaN,NaN,NaN,NaN
6,987,1996,51,30.0,7,NaN,4.0,NaN,0.0,NaN,NaN,NaN,NaN
7,1048,2013,72,1000.0,7,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN
8,1098,2014,51,7200.0,7,2.0,3.0,NaN,4.0,NaN,NaN,NaN,NaN
9,1609,1999,51,3.0,17,NaN,3.0,NaN,0.0,NaN,NaN,NaN,NaN
10,1615,2010,52,100.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
11,1666,2014,87,300.0,7,5.0,1.0,NaN,3.0,NaN,NaN,NaN,NaN
12,1708,2015,75,1000.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
13,1716,2011,75,50.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
14,1797,2013,74,50.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
15,2023,2014,52,10.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
16,2293,2014,75,300.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
17,2320,2014,52,100.0,6,2.0,1.0,8348.17,2.0,NaN,NaN,NaN,NaN
18,2384,2014,75,100.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
19,2821,2012,74,100.0,7,NaN,2.0,NaN,0.0,NaN,NaN,NaN,NaN
20,3026,2011,65,10.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
21,3273,2012,75,100.0,7,5.0,4.0,NaN,10.0,NaN,NaN,NaN,NaN
22,3338,2013,72,30.0,6,2.0,2.0,30.00,3.0,NaN,NaN,NaN,NaN
23,3369,2015,72,100.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
24,3473,2014,72,1000.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
25,3493,2008,72,10.0,7,NaN,2.0,NaN,0.0,NaN,NaN,NaN,NaN
26,3500,2007,73,50.0,6,2.0,3.0,50.00,0.0,NaN,NaN,NaN,NaN
27,3598,2013,51,10.0,7,2.0,2.0,NaN,3.0,NaN,NaN,NaN,NaN
28,3646,2014,75,100.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
29,3649,2011,58,500.0,7,6.0,4.0,NaN,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102899,520575,2012,75,100.0,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102900,520669,2012,74,100.0,7,1.0,2.0,NaN,16.0,NaN,NaN,NaN,NaN
102901,520956,2008,75,3.0,7,NaN,2.0,NaN,0.0,NaN,NaN,NaN,NaN
102902,521080,2007,75,600.0,6,22.0,3.0,6133.89,46.0,NaN,NaN,NaN,NaN
102903,521163,2014,75,300.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
102904,521215,2001,72,1000.0,7,1.0,2.0,NaN,0.0,NaN,NaN,NaN,NaN
102905,522325,2005,72,100.0,7,NaN,2.0,NaN,0.0,NaN,NaN,NaN,NaN
102906,522478,2015,72,5000.0,16,NaN,2.0,10000.00,13.0,NaN,NaN,NaN,NaN
102907,522570,2005,86,3000.0,6,3.0,2.0,3660.00,2.0,NaN,NaN,NaN,NaN
102908,522695,2010,73,50.0,6,2.0,1.0,5600.00,25.0,NaN,NaN,NaN,NaN
102909,522731,2011,72,100.0,7,1.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN
102910,523359,2009,75,100.0,7,2.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN
102911,523591,2012,72,100.0,7,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
102912,523690,2000,62,50.0,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102913,523776,2000,51,50.0,7,1.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN
102914,524112,2013,87,100.0,7,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN
102915,524158,2014,75,6200.0,5,2.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN
102916,524352,2002,33,50.0,17,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
102917,524363,2009,72,10.0,7,NaN,4.0,NaN,0.0,NaN,NaN,NaN,NaN
102918,524595,2003,87,30.0,7,NaN,2.0,NaN,0.0,NaN,NaN,NaN,NaN
102919,524987,2003,52,50.0,6,391.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN
102920,525045,2015,65,1000.0,7,1.0,2.0,NaN,0.0,NaN,NaN,NaN,NaN
102921,525513,2010,72,1.0,8,NaN,1.0,NaN,4.0,NaN,NaN,NaN,NaN
102922,525630,2010,87,100.0,7,NaN,3.0,NaN,1.0,NaN,NaN,NaN,NaN
102923,525701,2007,87,10.0,7,1.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN
102924,525951,2012,75,100.0,7,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN
102925,526008,2013,51,50.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
102926,526144,1994,33,8.0,8,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN
102927,526198,2014,87,100.0,7,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN
102928,526239,2011,51,50.0,7,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN